.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1435.1em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -12.9em;
      width: 45.1847em;
      height: 45.1847em;
  }




  .icon.arrow-left:before {
      background-position: 0em -58.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -105.9em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -155.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -202.9em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -252.2em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.arrow-up-fat:before {
      background-position: 0em -258.6em;
      width: 45.1847em;
      height: 45.1846em;
  }




  .icon.cake:before {
      background-position: 0em -303.8em;
      width: 2.6em;
      height: 2.2em;
  }




  .icon.cancel:before {
      background-position: 0em -306em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.car:before {
      background-position: 0em -353.6em;
      width: 3.9em;
      height: 2.9em;
  }




  .icon.card:before {
      background-position: 0em -356.5em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -358.8em;
      width: 2.7em;
      height: 2.3em;
  }




  .icon.checked:before {
      background-position: 0em -361.1em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.circle-arrow--left:before {
      background-position: 0em -363.7em;
      width: 6em;
      height: 6em;
  }




  .icon.circle-arrow--rihgt:before {
      background-position: 0em -369.7em;
      width: 6em;
      height: 6em;
  }




  .icon.clock:before {
      background-position: 0em -375.7em;
      width: 37.296em;
      height: 37.296em;
  }




  .icon.close:before {
      background-position: 0em -413em;
      width: 5.4422em;
      height: 5.4422em;
  }




  .icon.close-fat:before {
      background-position: 0em -418.5em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.download:before {
      background-position: 0em -420.7em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.drink:before {
      background-position: 0em -467.9em;
      width: 1em;
      height: 3em;
  }




  .icon.facebook--color:before {
      background-position: 0em -470.9em;
      width: 45.573em;
      height: 45.573em;
  }




  .icon.fire:before {
      background-position: 0em -516.5em;
      width: 1.9em;
      height: 2em;
  }




  .icon.garbage:before {
      background-position: 0em -518.5em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.heart:before {
      background-position: 0em -524.4em;
      width: 3.2em;
      height: 2.8em;
  }




  .icon.house:before {
      background-position: 0em -527.2em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -575.9em;
      width: 33em;
      height: 33em;
  }




  .icon.interface:before {
      background-position: 0em -608.9em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.leaflet:before {
      background-position: 0em -658em;
      width: 3.3em;
      height: 3.2em;
  }




  .icon.like:before {
      background-position: 0em -661.2em;
      width: 3.4em;
      height: 3.5em;
  }




  .icon.location:before {
      background-position: 0em -664.7em;
      width: 2.2em;
      height: 2.5em;
  }




  .icon.login:before {
      background-position: 0em -667.2em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -670.5em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -715.6em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -764em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.phone-call:before {
      background-position: 0em -809.9em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.pig:before {
      background-position: 0em -857.3em;
      width: 3.2em;
      height: 3.4em;
  }




  .icon.pizza:before {
      background-position: 0em -860.7em;
      width: 2.2em;
      height: 2.6em;
  }




  .icon.placeholder:before {
      background-position: 0em -863.3em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plus:before {
      background-position: 0em -911em;
      width: 4.2em;
      height: 4.2em;
  }




  .icon.roll:before {
      background-position: 0em -915.2em;
      width: 2.6em;
      height: 2.4em;
  }




  .icon.salad:before {
      background-position: 0em -917.6em;
      width: 2.6em;
      height: 2em;
  }




  .icon.sauce:before {
      background-position: 0em -919.6em;
      width: 2.6em;
      height: 1.6em;
  }




  .icon.serch:before {
      background-position: 0em -921.2em;
      width: 2.1em;
      height: 2.1em;
  }




  .icon.set:before {
      background-position: 0em -923.3em;
      width: 2.4em;
      height: 2.6em;
  }




  .icon.share:before {
      background-position: 0em -925.9em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.smile-good:before {
      background-position: 0em -974.1em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.snack:before {
      background-position: 0em -978.4em;
      width: 2.6em;
      height: 2em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -980.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-facebook-box:before {
      background-position: 0em -1031.6em;
      width: 9em;
      height: 9em;
  }




  .icon.soc-google:before {
      background-position: 0em -1040.6em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -1050.3em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1093.4em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1137.3em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1146.9em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1188em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1239.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1290.4em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.star:before {
      background-position: 0em -1296.8em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.supe:before {
      background-position: 0em -1345.9em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.sushi:before {
      background-position: 0em -1348.5em;
      width: 2.6em;
      height: 1.6em;
  }




  .icon.user:before {
      background-position: 0em -1350.1em;
      width: 35em;
      height: 35em;
  }




  .icon.veg:before {
      background-position: 0em -1385.1em;
      width: 1.7em;
      height: 1.8em;
  }




  .icon.vk--color:before {
      background-position: 0em -1386.9em;
      width: 45.5731em;
      height: 45.5731em;
  }




  .icon.wok:before {
      background-position: 0em -1432.5em;
      width: 2.6em;
      height: 2.6em;
  }





