// === Curent color ===
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

black = #1b2230
$gray = #c2c2c2
$gray-light = #e5e5e5
$red = #ca0000
$red-light = #ff7a7a

$fiolet = #c90094
$purpur = #b433ff
$blue = #1673ff
$sky = #00c6ff
$green = #00d156
$gras = #6ec900
$yellow = #f6a200
$orange = #fc5f00
$rose = #fc0000

$mark = #ca0000

$main-text-color = black
$border-color = #e2e2e2

$link-color = #1b2230
$link-color-visited = gray
$link-color-hover = black
