// === Inputs ===
.input,.textarea,.select
	placeholder(#888888)
	tr(all)
	padding 15px 20px
	border 1px solid $border-color
	resize: none
	outline: 0 !important
	border-radius 10px
	font-family $v-font
	display block!important
	font-size: 13px
	&:focus
		border 1px solid $mark
		background: white

.style-label
	display flex
	position relative
	align-items center
	&:hover
		.sytle-input-text
			color black
.style-label--disable
	@extend .disabled

.check-el
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		br(10px)
		cp()
		tr(all)
		size 30px
		position relative
		display inline-block
		margin-right 10px
		background white
		border 1px solid $border-color
		&:hover
			border 1px solid $mark
	.icon-check
		display none
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			.icon-check
				display block
				fill $red
				size 12px

.style-label--radio
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 32px
		height 32px
		position relative
		display inline-block
		margin-right 30px
		background white
		border 1px solid $border-color
		round()
		cp()
	.icon-check
		display none
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			box-shadow 0 2px 4px rgba(0, 45, 135, 0.16)
			border-color white
			background: white
			.icon-radio
				round()
				size 16px
				background $mark

.sytle-input-text
	color #3c2420
	width: calc(100% - 50px)
	line-height: 1.2
	tr(all)
	a
		color $mark