//  ============================ Typography ============================

//webfont('RUB', 'rouble-webfont', 'normal')
//Add fotn rub write .rub a - (a,b,c,d - change type font)

$v-font =  'Gotham', sans-serif

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

.type--xs
	typeSize(12,10)

.type--sm
	typeSize(11,10)

.type--main
	typeSize(13,12)

.type--md
	typeSize(15,13)

.type--lg
	typeSize(18,15)

.type--xl
	typeSize(20,15)

.type--xxl
	typeSize(36,24)

.type--bold
	font-weight bold

h1
	@extend .type--xl
h2
	@extend .type--lg
h3
	@extend .type--main
h4
	@extend .type--sm
h5
	@extend .type--xs

a
	color $link-color
	text-decoration-color #e5e5e5
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

p
	@extend .type--main

.link--mark
	color $blue
	&:hover
		color darken($mark,20)
	&:visiter
		color darken($mark,30)

.link--main
	color $link-color
	hover-underline($link-color)
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

.link--text
	color $link-color
	text-decoration underline
	&:hover
		text-decoration none
