@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1250px,10px)

//modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	transform translateY(-350%)
	position: absolute
	opacity .1
	transition transform .8s, opacity 1s
	max-width 470px
	.order__row
		margin-bottom: 20px
		border-bottom 0
.modal-content
	+below(640px)
		height: 100%
		padding: 20px 10px
		overflow-y scroll
		width: 100%!important
		br(0)
	background: white
	position: relative
	padding: 40px
	br(10px)

.modal__show
	max-height 100%
	opacity 1
	transform translateY(0)
	position: relative

.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 20px
	right: 20px
	cp()
	.icon
		size 12px
		fill black
		opacity:.3

.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 20px
	text-align: center
	color black

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto 40px auto
	//width: 80%
	font-size: 16px
	line-height: 1.2
	color #5f5f5f

.validate-form
	input,textarea
		width: 100%
		margin-bottom: 20px
.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%

.agree-row
	f()
	align-items: center
	margin:10px 0 20px 0
	a
		text-decoration: underline
		display: inline-block

.agree-row__text
	width: 100%
	color black
	font-size: 12px
	a
		color #9c9a9a
		text-decoration: none

.field-error
	.error
		display: none!important

.field-error
	input
		border 1px solid #dc3d3d
.style-label--checkbox.field-error
	.sytle-input-element
		border 1px solid #dc3d3d

.modal-content--true
	flex(mid)
	fl()
	br(10px)
	.icon
		fill green
		size 120px
		margin-bottom: 20px

.modal-text-true
	text-align: center
	font-weight: bold
//modal===end

//.head
//.main-cont
.head-top
	flex(between)
	padding: 15px 0
.drop__current
	border-bottom 1px dashed $border-color
	padding-bottom: 3px
	&:hover
		color $red
.drop
	f()
	cp()
	position: relative
	padding-bottom: 5px
	margin-bottom: -5px
	&:hover
		.drop-container
			display: block
		.drop__current
			border-bottom 0
			margin-bottom: 1px
			color $red
		.drop__icon
			.icon
				transform rotate(180deg)
				fill $red
.drop__icon
	margin-right: 8px
	.icon
		tr(all)
		size 11px
//.drop__current
.drop-container
	position: absolute
	display: none
	top 100%
	z-index 3
.drop-container-wrap
	background: white
	padding: 20px
	border 1px solid $border-color
	position: relative
	&:before
		content ''
		position: absolute
		size 16px
		border-left 1px solid $border-color
		border-top 1px solid $border-color
		transform rotate(45deg)
		top - 8px
		background: white
.drop-container__el
	margin-bottom: 15px
	display: block
	text-decoration: none
	tr(all)
	&:last-child
		margin-bottom: 0
.head-top-nav
	width: 40%
	flex(between)
	margin-right: 10%
	margin-left: 13%
.head-top-nav__el
	padding-bottom: 2px
	tr(color)
	&:hover
		color $red
		text-decoration: none

.drop-container--town
	width: 175px
	.drop-container__el
		&:hover
			color $red
.head-soc
	margin-right: 3%
.soc-row
	f()
.soc-row__el
	round()
	flex(mid)
	tr(all)
	margin-right: 10px
	size 25px
	background: #c2c2c2
	&:hover
		background: darken(#c2c2c2,10)

	.icon
		size 15px
		fill white
	&:last-child
		margin-right: 0
.login
	cp()
	tr(all)
	position: relative
.login-enter
	border-bottom 1px dashed $border-color
	display: inline-block
	&:hover
		color $red
.head-info
	f()
	align-items: flex-end
	margin-bottom: 10px
//.logo
.head-phone
	font-size 30px
	font-weight 700
	letter-spacing 0.18px
	text-decoration: none
	margin-left: 6%
	display: block
	margin-right: 10px
.work-time
	padding-bottom: 3px
.header-search
	margin-left: auto
	width: 22%
	.input
		width: 100%
//.header-search-wrap
.header-search-icon
	position: relative
	.icon
		size 20px
		fill $red
		position: absolute
		top 50%
		margin-top: -10px
		right: 10px
	.input-search
		padding-right: 30px
.head-main-wrap
	background: white
.head-main
	f()
.head-nav
	flex(between)
	width: 85%
.head-nav__el
	@extend .type--lg
	padding: 25px 0
	font-weight 500
	text-decoration: none
	tr(all)
	flex(mid)
	.icon
		size
	&:hover
		color $red
.cart
	flex(mid)
	margin-left: auto
	text-decoration: none
.cart-icon
	margin-right: 10px
	.icon
		size 22px
		fill $red
.cart-info
	font-size: 16px
//.cart-condition
//.cart-size

.head-nav__el
	f()
	position: relative
.head-nav__el-wrap
	&:hover
		.head-sub
			display: block
		.icon
			transform rotate(180deg)
			fill $red
	.icon
		margin-right: 8px
		tr(all)
		size 11px
//.drop__current
.head-sub
	position: absolute
	display: none
	top 100%
	z-index 3
.head-sub-wrap
	background: white
	padding: 25px
	border 1px solid $border-color
	position: relative
	&:before
		content ''
		position: absolute
		size 16px
		border-left 1px solid $border-color
		border-top 1px solid $border-color
		transform rotate(45deg)
		top - 8px
		background: white

.head-sub__item
	@extend .type--lg
	font-weight 500
	margin-bottom: 15px
	tr(all)
	display: block
	text-decoration: none
	&:last-child
		margin-bottom:0
	&:hover
		color $red

.login-drop
	position: absolute
	top 100%
	background: white
	padding: 20px
	border 1px solid $border-color
	right: 0
	z-index 3