@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color #3c2420
	line-height 1.2
	letter-spacing 0.01em

.page
	f()
	fl()
	min-height 100vh
.page-content
	background: #F8F8F8
	flex-grow 1
	padding-bottom: 40px
.main-cont
	center(1250px,10px)

.hidden-block
	position: relative
	height: 0
	z-index 3
	opacity:0
	left -9999px
	transform translateY(-20px)
	margin: 0
	padding: 0

.visible-block
	transition opacity .8s
	opacity:1
	left 0
	transform translateY(0)
	height: initial

.content
	line-height: 1.6
	ul
		list-style none
		padding-left: 10px
	li
		margin-bottom: 10px
		position: relative
		line-height: 1.6
		&:before
			content ''
			size 4px
			round()
			background: $red
			position: absolute
			left: -10px
			top .65em
	p
		line-height: 1.6
	a
		link($red)
//modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
		transition opacity 1s
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	transform translateY(-350%)
	position: absolute
	opacity .1
	transition transform .8s, opacity 1s
	max-width 470px
	.order__row
		margin-bottom: 20px
		border-bottom 0
.modal--lg
	max-width 1250px
	width: 100%

.modal--addsale
	max-width 768px
	width: 100%

.modal-content
	+below(640px)
		height: 100%
		padding: 50px 10px 30px 10px
		overflow-y scroll
		width: 100%!important
		br(0)
		padding-bottom: 40px
	background: white
	position: relative
	padding: 40px
	br(10px)

.modal__show
	max-height 100%
	opacity 1
	transform translateY(0)
	position: relative

.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 15px
	right: 15px
	cp()
	.icon
		&:hover
			transform rotate(270deg)
			opacity: 1
		tr(all)
		size 14px
		fill black
		opacity:.3

.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 40px
	text-align: center
	color black
	font-size: 24px
	font-weight: 700

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto 40px auto
	//width: 80%
	font-size: 16px
	line-height: 1.2
	color #5f5f5f

.validate-form
	input,textarea
		width: 100%
		margin-bottom: 20px
.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%

.agree-row
	f()
	align-items: center
	margin:10px 0 20px 0
	a
		text-decoration: underline
		display: inline-block

.agree-row__text
	width: 100%
	color black
	font-size: 12px
	a
		color #9c9a9a
		text-decoration: none

.field-error
	.error
		display: none!important

.field-error
	input
		border 1px solid #dc3d3d
.style-label--checkbox.field-error
	.sytle-input-element
		border 1px solid #dc3d3d

.modal-content--true
	flex(mid)
	fl()
	br(10px)
	max-width 360px
	.icon-true
		fill green
		size 140px
		margin 40px 0
	.modal-title
		margin-bottom: 20px
	.modal-text
		margin: 0
		font-size: 14px
.modal-text-true
	text-align: center
	font-weight: bold
//modal===end

.head
	+below(768px)
		display: none
//.main-cont
.head-top
	flex(between)
	padding: 3px 0
	height: 40px

.drop__current
	border-bottom 1px dashed $border-color
	padding-bottom: 3px
	&:hover
		color $red
.drop
	f()
	cp()
	position: relative
	padding-bottom: 5px
	margin-bottom: -5px
	&:hover
		.drop-container
			opacity:1
			left 0
			transform translateY(0)
		.drop__current
			border-bottom 0
			margin-bottom: 1px
			color $red
		.drop__icon
			.icon
				transform rotate(180deg)
				fill $red
.drop__icon
	margin-right: 8px
	.icon
		tr(all)
		size 11px
//.drop__current
.drop-container
	position: absolute
	top 100%
	z-index 3
	opacity:0
	left -9999px
	transform translateY(-20px)
	transition opacity .4s, transform .4s
.drop-container-wrap
	background: white
	padding: 20px
	border 1px solid $border-color
	position: relative
	&:before
		content ''
		position: absolute
		size 16px
		border-left 1px solid $border-color
		border-top 1px solid $border-color
		transform rotate(45deg)
		top - 8px
		background: white
.drop-container__el
	margin-bottom: 15px
	display: block
	text-decoration: none
	tr(all)
	&:last-child
		margin-bottom: 0
.head-top-nav
	+below(960px)
		width: 45%
		margin-right: 5%
		margin-left: 5%
	width: 40%
	flex(between)
	margin-right: 10%
	margin-left: 13%
.head-top-nav__el
	+below(960px)
		font-size: 10px
	padding-bottom: 2px
	tr(all)
	text-decoration: none
	font-weight:500
	opacity:.4
	font-size: 13px
	&:hover
		opacity:1
		color $red
		text-decoration: none

.head-top-wrap
	margin-bottom: 20px
	background: #f8f8f8
.drop-container--town
	width: 175px
	.drop-container__el
		&:hover
			color $red
.head-soc
	+below(1200px)
		display: none
	margin-right: 3%
.soc-row
	f()
.soc-row__el
	round()
	flex(mid)
	tr(all)
	margin-right: 10px
	size 25px
	background: #c2c2c2
	&:hover
		background: darken(#c2c2c2,10)

	.icon
		size 15px
		fill white
	&:last-child
		margin-right: 0
.login
	cp()
	tr(all)
	position: relative
.login-enter
	display: inline-block
	&:hover
		color $red
.head-info
	flex(between)
.logo
	width: 15%
.head-phone
	+below(1200px)
		font-size: 24px
	font-size 24px
	font-weight 700
	letter-spacing 0.18px
	text-decoration: none
	margin-left: 6%
	display: block
.work-time
	+below(960px)
		display: none
	padding-bottom: 3px
.header-search
	+below(960px)
		width: 28%
	width: 40%
	.input
		width: 100%
.header-search-wrap
	.input
		br(25px)
.header-search-icon
	position: relative
	.icon
		size 20px
		fill $red
		position: absolute
		top 50%
		margin-top: -10px
		right: 10px
	.input-search
		padding-right: 30px
.head-main-wrap
	+below(768px)
		border-bottom 1px solid $border-color
		margin-top: 0
	background: white
	border-top 1px solid #f6f4f4
	margin-top: 20px
.head-main
	+below(768px)
		height: 50px
	f()
	align-items: center
	height: 60px
.head-nav
	+below(1200px)
		width calc(100% - 100px)
	+below(960px)
		width calc(100% - 40px)
	+below(768px)
		display: none
	flex(between)
	width: 82%
.head-nav__el
	+below(1200px)
		font-size: 14px
	+below(1024px)
		font-size: 12px
	@extend .type--lg
	padding: 25px 0
	font-weight 500
	text-decoration: none
	tr(all)
	flex(mid)
	up()
	font-size: 13px
	.icon
		size
	&:hover
		color $red
.cart
	+below(1200px)
		padding: 10px
	+below(768px)
		margin-left:initial
		f()
		fl()
		margin-right: -10px
		border-left 1px solid $border-color
		border-radius 0
	flex(mid)
	tr(all)
	margin-left: 20px
	text-decoration: none
	padding: 5px 20px
	height: 100%
	border-left 1px solid #ededed
	border-right 1px solid #ededed
	&:hover
		background: $red
		color white
		.icon
			fill white
.cart-icon
	+below(1200px)
		flex(mid)
		fl()
		margin-right: 0
	+below(767px)
		margin-right: 4px
	margin-right: 10px
	position: relative
	.icon
		size 26px
		fill $red
.cart-icon__val
	+above(1201px)
		display: none
	+below(768px)
		flex(mid)
		font-weight: 500
		font-size: 10px
	font-weight:700
	margin-top: 5px
	white-space nowrap

.cart-info
	+below(1200px)
		display: none
	font-size: 16px
//.cart-condition
//.cart-size

.head-nav__el
	f()
	position: relative
.head-nav__el-wrap
	position: relative
	&:hover
		.head-sub
			opacity:1
			left 0
			transform translateY(0)
		.icon
			transform rotate(180deg)
			fill $red
	.icon
		margin-right: 8px
		tr(all)
		size 11px
//.drop__current
.head-sub
	position: absolute
	left -9999px
	opacity:0
	top 100%
	z-index 10
	transform translateY(-20px)
	transition opacity .8s, transform .4s
	width: 250px
.head-sub-wrap
	background: white
	padding: 25px
	border 1px solid $border-color
	position: relative
	&:before
		content ''
		position: absolute
		size 16px
		border-left 1px solid $border-color
		border-top 1px solid $border-color
		transform rotate(45deg)
		top - 8px
		background: white

.head-sub__item
	@extend .type--lg
	font-weight 500
	margin-bottom: 15px
	tr(all)
	display: block
	text-decoration: none
	&:last-child
		margin-bottom:0
	&:hover
		color $red

.login-drop-wrap
	position: absolute
	right: 0
	background: white
	z-index 15
	top 100%
	border-radius 10px
.login-drop
	border-radius 10px
	display: none
	position: relative
	top 100%
	padding: 20px
	border 1px solid $border-color
	width: 250px
	&:before
		content ''
		position: absolute
		size 16px
		border-left 1px solid $border-color
		border-top 1px solid $border-color
		transform rotate(45deg)
		top - 8px
		left 50%
		margin-left: -8px
		background: white
		+below(1200px)
			left initial
			right 2px
.login-drop--active
	opacity:1

.login
	position: relative
	padding-bottom: 10px
	margin-bottom: -10px
//.login-enter
.login-enter--active
	color $red
	border-bottom 0
.login-drop__head
	f()
	margin-bottom: 20px
.login-toggle
	opacity:.6
	border-bottom 1px dashed $border-color
	cp()
	&:nth-child(1)
		padding-right: 5px
		margin-right: 5px
		border-right 1px solid $border-color

.login-toggle--active
	opacity:1
	border-bottom 0

.login-wrap
	.input
		margin-bottom: 20px
	input
		width: 100%
	opacity:0
	left -9999px
	height: 0
	overflow: hidden
.login-wrap--active
	opacity:1
	left 0
	height: auto
	transition opacity .6s
.login-form
	margin-bottom: 20px
.login-remember
	margin-bottom: 20px

.login-fogot
	color $red
	text-decoration: underline
	text-decoration-color #e5e5e5

.login-soc
	margin-top: 20px
	padding-top: 20px
	border-top 1px solid $border-color

.login-soc__text
	opacity:.6
	margin-bottom: 20px
.login-soc-row
	f()
.login-soc-el
	.icon
		size 25px
	&:nth-child(1)
		margin-right: 10px

.visible
	opacity: 1
	transform translateY(0)
	top 0

.login-btn-code
	@extend .btn--mark
	@extend .btn--md
	width: 100%

.login-btn-recode
	@extend .btn--md
	@extend .btn--light
	width: 100%
	margin: 20px 0

.login-btn-back
	@extend .btn--light
	@extend .btn--md
	width: 100%
	padding: 12px

.login-code-text
	font-size: 11px
	margin-bottom: 20px
	line-height: 1.4

.cart--full
	background: white
	tr(all)
	.icon
		fill $red
	.cart-condition
		font-weight:700
	+below(1200px)
		background: none
		color black
		.icon
			fill $red

.slider__el
	bg-full()
	padding: 12.5% 10%


//for custom navigation
.slider-control
	round()
	flex(mid)
	tr(all)
	size 40px
	background: white
	position: absolute
	top 50%
	margin-top: -20px
	box-shadow 0px 2px 10px #c5c2c2
	z-index 10
	cp()
	&:hover
		background: $red
		.icon
			fill white
	.icon
		size 14px

.slider-control-simple
	position: absolute
	top 50%
	margin-top: -30px
	z-index 10
	cp()
	&:hover
		.icon
			opacity:1
	.icon
		size 60px
		opacity:.7
		fill white
		tr(all)

.slider-wrap
	position: relative

.slider-control--left
	left 10px

.slider-control--right
	right 10px

.slick-slide
	&:hover
		outline none!important
	&:active
		outline none!important
	&:focus
		outline none!important

.slider-footer
	+below(767px)
		display: none
	flex(mid)
	padding: 10px
	border 1px solid $red
	border-radius 0 0 59px 60px
	border-top 0px
	margin-top: -5px
.slider-footer__info
	@extend .type--md
	color $red
	margin-right: 20px
.slider-footer__get
	@extend .btn--md
	@extend .btn--mark

.main-slider
	overflow: hidden
	+below(768px)
		display: none
		margin-left: -20px
		width calc(100% + 20px)
		.slider-control-simple
			display: none
.tag
	+below(767px)
		justify-content: space-between
		margin: 10px 0
	f()
	fw()
	margin: 30px 0
.tag__el
	+below(767px)
		width: 48%
		margin-right: 0
	flex(mid)
	br(4px)
	box-shadow 0 0 0 #e3e3e3
	transition box-shadow .4s, background .6s, border-color .6s
	border 1px solid
	margin-right: 15px
	margin-bottom: 15px
	padding: 10px 20px
	height: 50px
	text-decoration: none
	background: white
	border-color #eaeaea!important
	&:hover
		box-shadow 0px 10px 10px #c5c2c2;
.tag__el-icon
	.icon
		size 26px
		margin-right: 10px
.tag__el-text
	+below(640px)
		font-size: 12px
	@extend .type--lg
	margin-top: -1px
	white-space nowrap
	text-transform: uppercase
	font-size: 12px
	font-weight:500
tag($color)
	border-color $color
	.tag__el-text
		color $color
	.icon
		fill $color
	&:hover
		.tag__el-text
			color white
		.icon
			fill white
		background: $color
		border-color $color!important

.tag__el--red
	tag($red)

.tag__el--fiolet
	tag($fiolet)

.tag__el--purpur
	tag($purpur)

.tag__el--blue
	tag($blue)

.tag__el--sky
	tag($sky)

.tag__el--green
	tag($red)

.tag__el--grass
	tag($grass)

.tag__el--yellow
	tag($yellow)

.tag__el--orange
	tag($orange)

.tag__el--rose
	tag($rose)

.tag__el--gray
	tag($gray)

.title
	@extend .type--xxl
	font-weight: 700
	margin-bottom: 25px
	line-height: 1.6

.title--sm
	@extend .type--xl
	font-weight: 700
	margin-bottom: 25px
	line-height: 1.6

.title__more
	+below(767px)
		margin-left: 0
	@extend .type--md
	link($red)
	cp()
	font-weight: 400
	margin-left: 20px
	display: inline
.items
	+below(1200px)
		grid-template-columns repeat(3,1fr)
	+below(960px)
		grid-template-columns repeat(2,1fr)
	+below(640px)
		grid-template-columns 1fr
		margin-bottom: 40px
	display: grid
	grid-gap 30px
	grid-template-columns repeat(4,1fr)
	margin-bottom: 60px

.item
	+below(640px)
		flex-flow row
		align-items: flex-start
		margin-left: -10px
		box-shadow 0 0 0
	f()
	fl()
	transition box-shadow .2s
	position: relative
	br(20px)
	bsh()
	&:hover
		+above(641px)
			box-shadow 0px 10px 18px #e2e2e2
		.item__descr
			@extend .hidden-block
		.item-ingr
			@extend .visible-block
.item-ingr
	+below(1024px)
		display: none !important
	@extend .hidden-block
	margin-top: 10px
.item-ingr__text
	margin-bottom: 10px
.item-ingr__cont
	flex(between)
.item-ingr__el
	flex(mid)
	fl()
	margin-bottom: 20px
.item-ingr__el-val
	font-size: 16px
	font-weight:700
	margin-bottom: 5px

//.item-ingr__el-name

.item__descr-wrap
	+below(1024px)
		height: auto !important
	height: 100px

.item__img
	+below(640px)
		height: auto!important
		padding: 15% 10%
		width: 35%
		border-radius 0 30px 30px 0
		min-height 150px
	bg-full()
	transition all .2s
	padding: 30% 10%
	height: 285px!important
	border-radius 20px 20px 0 0
	position: relative
.item__content
	+below(640px)
		width: 65%
		border 0
		padding: 0 0 0 10px
		box-shadow 0 0 0
		background: none
	f()
	fl()
	tr(all)
	background: white
	padding: 20px
	border-radius 0 0 20px 20px
	//border 1px solid $border-color
	border-top 0
	flex-grow 1
.item__title
	@extend .type--xl
	font-weight:700
	margin-bottom: 15px
	link()
	line-height: 1.4
	display: inline
	width: auto
.item__descr
	+below(1024px)
		opacity:1!important
		left initial!important
		height: auto !important
		transform translateY(0)!important
		margin: 15px 0!important
	line-height: 1.4
	margin: 15px 0
	tr(all)
.item__descr-small
	+below(1024px)
		opacity:1!important
		left initial!important
		height: auto !important
		transform translateY(0)!important
		margin: 15px 0!important
	line-height: 1.4
	margin: 15px 0
	tr(all)
.item__footer
	flex(between)
	margin-top: auto
.item__price
	@extend .type--xl
	font-weight 700
//.item__weight
.item__get
	+below(640px)
		width: 90px
.item__btn
	+below(640px)
		padding: 10px
		width: 100%
	@extend .btn--md
	@extend .btn--light
	font-weight: 700
	color black
	padding: 10px 25px
	width: 100px


//increment
.incr
	+below(640px)
		width: 100%
	f()
	justify-content: space-between
	position relative
	width 100px
	border-top 1px solid $border-color
	border-bottom 1px solid $border-color
	border-radius 38px
	user-select none
	background: white
.incr__nav
	flex(mid)
	tr(background )
	round()
	size 34px
	border 1px solid $border-color
	background white
	.icon
		size 12px
		fill #b3b3b3
		opacity:1
	&:hover
		cp()
		background-color $red
		border 0
		.icon
			fill white
	&:active
		background-color $red
.incr__val
	flex(mid)
	background white
	position relative
	tr(all)
	color black
	font-weight 700

.item__incr
	+below(640px)
		width: 100%
	width: 100px
//increment===end

.item-check
	+below(640px)
		left calc(100% - 20px)
		size 24px
	display: none
	position: absolute
	size 36px
	round()
	background: $red
	top -10px
	left -10px
	z-index 2
	.icon
		+below(640px)
			size 14px
		size 20px
		fill white

.item--add
	.item__content
		border-color $red
	.item-check
		flex(mid)

.item-tag
	+below(640px)
		top 10px
		right: 10px
	position: absolute
	top 20px
	right: 20px
.item-tag__el
	+below(640px)
		size 25px
	size 36px
	round()
	flex(mid)
	margin-bottom: 10px
	.icon
		+below(640px)
			size 14px
		fill white
		size 20px

.item-tag__el--red
	background $red

.item-tag__el--fiolet
	background $fiolet

.item-tag__el--purpur
	background $purpur

.item-tag__el--blue
	background $blue

.item-tag__el--sky
	background $sky

.item-tag__el--green
	background $red

.item-tag__el--grass
	background $grass

.item-tag__el--yellow
	background $yellow

.item-tag__el--orange
	background $orange

.item-tag__el--rose
	background $rose

.item-tag__el--gray
	background $gray

.item-tag__el--fire
	background: white
	.icon
		fill $red

.item-tag__el--veg
	background: white
	.icon
		fill $red

.sale-list
	+below(960px)
		grid-template-columns repeat(2,1fr)
	+below(480px)
		grid-template-columns 1fr
		margin-bottom: 40px
	display: grid
	grid-gap 30px
	grid-template-columns repeat(3,1fr)
	margin-bottom: 65px

.sale-list__el
	+below(1024px)
		padding: 25% 10%
	&:hover
		background-size:120%
	transition all .9s
	bg-full()
	background-size:100%
	padding: 20% 10%
	position: relative
	border-radius 10px
	overflow: hidden
.sale-list__el-title
	f()
	align-items: stretch
	position: absolute
	padding: 30px
	width: 100%
	height: 100%
	left 0
	top 0
	up()
	span
		margin-top: auto
		color white
		font-weight: 500
		line-height: 1.6


.sale-list__el-filter
	position: absolute
	top 0
	left 0
	background-image linear-gradient(to top, rgb(38, 10, 7) 0%, rgba(0,0,0,0) 100%)
	height: 100%
	width: 100%

.advant
	+below(1024px)
		fw()
		justify-content: flex-start
	+below(640px)
		display: none
	f()
	justify-content: space-between
	margin-bottom: 65px

.advant__el
	+below(1024px)
		width: 33%
		flex-grow initial
		margin-bottom: 20px
	flex-grow 1
	f()
	align-items: center

.advant__el-icon
	.icon
		size 34px
		fill $red
		margin-right: 15px

.advant__el-text
	@extend .type--md

.review
	+below(1024px)
		fw()
	+below(640px)
		margin:0 0 20px 0
	f()
	fw()
	align-items: stretch
	margin-bottom: 65px
	margin-left: -10px
	margin-right: -10px
.review--treeple
	.review__el
		+below(1024px)
			&:last-child
				display: none
.review__el
	+below(1024px)
		width calc(100% / 3 - 20px)
	+below(640px)
		width: 100%
		margin: 0
		padding-bottom: 40px
	flex(mid)
	fl()
	f()
	tr(all)
	br(30px)
	width calc(100% / 4 - 20px)
	margin 10px
	margin-bottom: 40px
	text-decoration: none
	position: relative
	&:hover
		box-shadow 0px 10px 18px #e2e2e2
.slick-dotted.slick-slider
	margin-bottom: 0 !important
.slick-dots li button:before
	font-size: 14px
	round()
	color white
.slick-dots li.slick-active button:before
	color white
.slick-dots
	bottom 20px!important

.review__el-img
	width: 100%
	border-radius 30px 30px 0 0
	overflow: hidden

.review__el-img-el
	+below(768px)
		height: 200px
	bg-full()
	width: 100%
	height: 285px


.review__el-content
	padding: 20px 20px 40px 20px
	margin-top: -5px
	border-top 0
	border-radius 0 0 20px 20px
	flex-grow 1
	position: relative
	background: white
	bsh()
.review__el-title
	@extend .type--xl
	font-weight 700
	margin-bottom: 10px

.review__el-text
	line-height: 1.4

.add-text
	+below(640px)
		display: block
		display: none
	f()
	justify-content: space-between
.add-text__col
	+below(640px)
		width: 100%
	width: 48%
	p
		line-height: 1.4

.add-text__col--more
	+below(640px)
		display: none
		margin-top: 20px

.add-text__col-title
	@extend .type--xl
	font-weight: 700
	margin-bottom: 25px

.page-footer
	+below(768px)
		margin-top: 0
	margin-top: 100px
.footer
	+below(640px)
		display: none
.footer-top
	+below(960px)
		display: none
		align-items: flex-start
	flex(between)
	margin-bottom: 60px
.footer-top__el
	+below(1024px)
		text-align: left
		font-size: 14px
		width: 22%
	text-align: center
	@extend .type--md
.footer-top__el--payment
	flex(mid)
	img
		width 100px
		padding: 10px
		br(5px)
		border 1px solid $border-color
		margin-left: 20px
.footer-top__el--location
	flex(mid)
	.icon
		size 25px
		fill $red
		margin-right: 10px
	a
		text-decoration: none
		link()
.footer-main
	+below(1024px)
		fw()
	f()
	justify-content: space-between
	padding-bottom: 50px
.footer-info
	width: 25%
.footer-copyright
	margin-bottom: 20px
.footer-info__link
	display: inline-block
	margin-bottom: 20px
	span
		link()
		line-height: 1.6
.footer-list
	+below(1024px)
		width: 70%
	width: 40%
	a
		link()
.footer-menu
	flex(between)
	margin-bottom: 20px
.footer-menu__el
	link()
.footer-adress
	+below(1024px)
		width: 100%
		flex(between)
	width: 35%
.footer-contact
	+below(1024px)
		margin-bottom: 0
	f()
	align-items: center
	justify-content: flex-end
	margin-bottom: 30px
	margin-top: -5px
.footer-phone
	+below(768px)
		font-size: 24px
	font-size: 30px
	font-weight:700
	text-decoration: none
	margin-right: 20px
//.soc-row 
//.soc-row__el 
//.icon 

.create
	+below(1024px)
		width: 50%
	f()
	align-items: center
	justify-content: flex-end
	span
		margin-right: 10px

.review-star
	position: absolute
	width: 100%
	top 20px
	flex(mid)
	z-index 5
	.icon
		size 18px
		fill white
		margin: 0 3px

.review-star__el--empty
	opacity: .5


.position-slider__el
	+below(1024px)
		padding: 20% 10%
	bg-full()
	padding: 25% 10%

.position
	+below(1024px)
		width: 100%
		fw()
	+below(640px)
		margin-bottom: 20px
	flex(between)
	margin-bottom: 60px

.position-info
	+below(1024px)
		width: 100%
		margin-bottom: 20px
	width: 35%
.position-title
	@extend .title

.position-img
	+below(1024px)
		width: 100%
	+below(640px)
		display: none
	width: 63%
	border-radius 20px
	overflow: hidden
	max-height 390px
.position-list
	+below(1024px)
		margin-bottom: 10px
	f()
	fw()
	justify-content: space-between
	margin-bottom: 30px
.position-list--active
	.position-list__el
		display: block!important

.position-list__el
	+below(1024px)
		width: 25%
	+below(768px)
		width: 32%
	+below(640px)
		width: 100%
		&:nth-child(n+4)
			display: none
	width: 48%
	margin-bottom: 20px
	cp()
	line-height: 1.6
	span
		tr(all)
		border-bottom: 1px dashed #e2e2e2
		padding-bottom: 3px
		&:hover
			color $red
.position-list__el--active
	span
		border 0
		link($red)
		color $red

.position-list__all
	+below(640px)
		display: none
	link($red)
	@extend .type--md
	&:hover
		color $red


.position-slider-wrap
	position: relative



.position-slider-wrap--active
	transition opacity 1.9s
	opacity:1
	left 0
	transform translateY(0)
	height: auto

.bread-row
	+below(1200px)
		margin-bottom: 30px
	+below(768px)
		margin-top: 20px
	flex(between)
	margin: 30px 0
.bread
	+below(768px)
		display: none
	f()
	fw()
	a
		link()
.bread__el
	margin-right: 20px
	position: relative
	opacity: .6
	line-height: 1.6
	&:before
		content ''
		width: 1px
		height: 100%
		background: $border-color
		position: absolute
		right: -12px
	&:last-child
		&:before
			content ''
			display: none
.page-nav
	flex(mid)
	&:hover
		.icon
			fill $red
		color $red
.page-nav__icon
	.icon
		+below(1024px)
			margin-right: 0
		tr(all)
		size 36px
		margin-right: 15px
		fill black
.page-nav__text
	+below(1024px)
		display: none
	@extend .type--md
	margin-top: -6px
.contact
	+below(640px)
		fw()
	f()
	justify-content: space-between
	margin-bottom: 40px

.contact-info
	+below(1024px)
		width: 35%
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width: 25%
.contact-title
	+below(768px)
		font-size: 16px
	font-size: 24px
	font-weight:700
	margin-bottom: 20px
//.contact-list
.contact-list__el
	@extend .type--md
	span
		link()
		&:hover
			color $red
	cp()
	margin-bottom: 25px

.contact-list__el--active
	color $red
	span
		background-image: linear-gradient(to bottom, $red 0%, $red 100%)

.contact-map
	+below(1024px)
		width: 67%
	+below(640px)
		width: 100%
	width: 72%
	border-radius 30px
	overflow hidden

.contact-map__el
	@extend .hidden-block
	background: $gray
	br(30px)
.contact-map__el--active
	@extend .visible-block
	height: 400px

.contact-val
	+below(640px)
		fw()
		margin-bottom: 0px
	f()
	justify-content: space-between
	margin-bottom: 60px

.contact-val__col
	+below(1024px)
		width: 32%
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width: 20%
.contact-val__title
	+below(1200px)
		font-size: 18px
	+below(768px)
		font-size: 16px
	font-size: 24px
	font-weight:700
	margin-bottom: 25px
.contact-val__phone
	display: block
	margin-bottom: 25px
	@extend .type--md
	span
		link()

.contact-val__mail
	display: block
	@extend .type--md
	span
		link()
.contact-val__col--lg
	+below(1024px)
		width: 32%
	+below(640px)
		width: 100%
	width: 45%
.contact-val__time
	+below(1024px)
		width: 100%
	width: 40%
.contact-val__day
	@extend .type--md
	up()
	margin-bottom: 20px
.contact-val__text
	+below(1024px)
		width: 100%
	@extend .type--md
	width: 60%
	line-height: 1.6
.contact-val-soc
	f()
	align-items: center
	margin-bottom: 20px
	@extend .type--md
	&:hover
		color $red
	span
		link()
.contact-val-soc__icon
	round()
	flex(mid)
	tr(all)
	margin-right: 20px
	size 25px
	background: #c2c2c2
	&:hover
		background: darken(#c2c2c2,10)
	.icon
		size 15px
		fill white

.feedback
	center(835px,0)
.feedback__title
	+below(768px)
		font-size: 16px
		margin-bottom: 20px
		text-align: left
	text-align: center
	font-size: 24px
	font-weight:700
	margin-bottom: 30px

.feedback__form
	+below(768px)
		margin-bottom: 20px
	f()
	fw()
	justify-content: space-between
	margin-bottom: 100px
.feedback-msg
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width: 65%
	.input
		width: 100%
.feedback-val
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width: 33%
	.input
		width: 100%
		margin-bottom: 20px
.feedback-get
	margin-bottom: 0
	@extend .btn--md
	@extend .btn--mark
	width: 100%

.about-text
	+below(1024px)
		margin-bottom: 30px
	+below(640px)
		margin-bottom: 20px
	max-width 850px
	line-height: 1.4
	margin-bottom: 60px

.company
	+below(768px)
		margin-bottom: 50px
	margin-bottom: 100px

.company-row
	+below(640px)
		fw()
		max-width 480px
		margin-left: auto
		margin-right: auto
	f()
	margin-bottom: 10px
	align-items: center

.bread-title
	+above(769px)
		display: none
	font-size: 24px
	font-weight:700

.company-val
	+below(1024px)
		font-size: 36px
	+below(640px)
		width: 100%
		margin-bottom: 20px
		text-align: center
		margin-right: 0
		font-size: 48px
	width: 25%
	margin-right: 25px
	font-size:60px
	color $red
	font-weight:700
	text-align: right

.company-text
	+below(640px)
		width: 100%
		margin-bottom: 20px
		margin-right: 0
	width: 43%
	line-height: 1.4
	margin-right: 25px
.company-get
	+below(640px)
		width: 100%
	width: 25%
	.company-get__el
		@extend .btn--md
		@extend .btn--light
		color $red
		width: 100%

.login-enter-mobile
	.icon
		size 24px
	+above(1200px)
		display: none

.login-enter-mobile-text
	border-bottom 1px dashed $border-color
	+below(1200px)
		display: none

.title--mobile
	+below(768px)
		display: none

.contact-val__time-wrap
	f()
	fw()

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out
	z-index 20
	background: white
	border-bottom 1px solid $border-color
	border-top 0
	.cart
		box-shadow 0 0 0
@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0)
		visibility: visible
	}

	to {
		transform: translate3d(0, 0, 0)
	}
}



.head-main-logo
	+above(769px)
		display: none
	width: 130px

.head-main-call
	+above(769px)
		display: none
	margin-right: 20px
	margin-left: auto
	.icon
		size 24px

.cart-bonus
	+above(768px)
		display: none
	font-size: 9px
	font-weight: 700
	display: none
.tag__el--hidden
	+below(767px)
		display: none

.tag__el--full
	+below(768px)
		width: 100%
		justify-content: flex-start

.tag__el-drop
	+above(768px)
		display: none
	cp()
.tag__el-drop--active
	background: black
	color white
	.icon
		fill white
.tag__el-sub-wrap
	display: none
.tag__el-sub
	padding-left: 30px
	flex(between)
	fw()

.tag__el-sub__el
	@extend .tag__el
	width: 100%
	&:nth-child(1)
		width: 48%
	&:nth-child(2)
		width: 48%

.title--list
	+below(767px)
		font-size: 24px
		span
			display: block

.banner-bonus
	+above(640px)
		display: none
	background: $red
	margin-left: -10px
	width calc(100% + 20px)
	padding: 20px 0
	flex(mid)
	fl()

.banner-bonus__text
	text-align: center
	color white
	font-size: 15px
	max-width 220px
	line-height: 1.6
	margin-bottom: 20px
.banner-bonus__get
	@extend .btn--md
	@extend .btn--empty

.footer-mobile
	+above(641px)
		display: none
	flex(between)
	padding: 10px
	border-top 1px solid $border-color
.footer-mobile__phone
	font-size: 18px
	font-weight: 700

.footer-mobile__logo
	size 35px
.footer-mobile__jq
	size 30px

.slide-trigger
	+above(641px)
		display: none
	span
		link($red)
		font-size: 15px
		cp()
	.slide-trigger--false
		display: none

.slide-trigger--active
	.slide-trigger--false
		display: inline
	.slide-trigger--true
		display: none


.title--list-review
	.title__more
		+below(640px)
			display: none

.review-slider__control
	+above(641px)
		display: none
	flex(between)
	margin-bottom: 20px
.review-slider__control-el
	cp()
	.icon
		size 36px

.review-slider__all
	link($red)
	font-size: 15px

.login--false
	.login-auth
		display: none

.login--true
	.login-enter
		display: none!important

.login-auth
	f()
	align-items: center
.login-auth__icon
	position: relative
	.icon
		size 24px
		fill #1b2230

.login-auth__icon-check
	position: absolute
	size 12px
	round()
	flex(mid)
	background: $red
	top -8px
	right: 0
	.icon
		size 8px
		fill white

.login-auth__name
	display: inline-block
	margin: 0 10px
	border-bottom 1px dashed $border-color

.review-answer
	display: none

.review-answer__title
	@extend .type--xl
	font-weight 700
	margin-bottom: 10px
	color $red
.review-answer__text
	line-height: 1.4

.review-toggle
	position: absolute
	border-radius 18px
	border 1px solid $red
	padding: 10px 20px
	left 50%
	transform translate(-50%,50%)
	bottom 0
	background: white
	font-weight: 700
	tr(all)
	cp()

.review-toggle--active
	tr(all)
	background: $red
	color white

.comment
	+below(640px)
		grid-template-columns 1fr
	display: grid
	grid-column-gap 50px
	grid-row-gap 30px
	grid-template-columns 1fr 1fr
	margin-bottom: 50px
//.comment__el

.comment-head
	+below(640px)
		margin-bottom: 10px
	f()
	fw()
	margin-bottom: 20px
.comment-name
	+below(640px)
		width: 100%
		margin-bottom: 10px
		line-height: 1.4
	@extend .type--xl
	font-weight: 700
	margin-right: 20px
.star-row
	f()

.star-row--red
	.icon
		fill $red
	.star-row__el--empty
		.icon
			opacity:.2

.star-row__el
	margin-right: 10px
	.icon
		size 18px
.comment-text
	+below(640px)
		font-size: 13px
	@extend .type--md
	line-height: 1.4
.comment-add
	+below(640px)
		margin-top: 20px
		padding-left: 15px
	padding-left: 30px
	margin-top: 30px
.comment-add__title
	+below(640px)
		margin-bottom: 10px
	@extend .type--xl
	font-weight:700
	margin-bottom: 20px
	color $red

.comment-add__text
	+below(640px)
		font-size: 13px
	@extend .type--md
	line-height: 1.4

.row-middle
	flex(mid)

.add-more
	link($red)
	cp()
.comment-wrap
	+below(768px)
		margin-bottom: 40px
	margin-bottom: 100px

.upload-image__el
	size 60px
	bg-full()
	border 1px solid $border-color

.input-row
	.input
		width: 100%
		margin-bottom: 20px
	.nice-select
		width: 100%
.get-rating
	f()
	align-items: center
	.icon
		opacity: .3
		cp()
	margin-bottom: 20px
.get-rating-text
	@extend .type--md
	margin-right: 20px
.star--active
	.icon
		opacity: 1

.upload-wrap
	flex(mid)
	fw()
	margin-bottom: 20px
.upload
	f()
	cp()
	br(10px)
	align-items: flex-start
	justify-content: center
	border 1px solid $border-color
	box-shadow 0px 3px 14px white
	tr(all)
	margin-bottom: 10px
	&:hover
		bsh()
.upload__icon
	padding: 10px
	border-right 1px solid $border-color
	height: 50px
	flex(mid)
	.icon
		size 25px
		fill $red
.upload__text
	height: 50px
	margin-left: -1px
	padding: 15px
	width: auto
	flex(mid)
.upload-img
	flex(mid)
.upload-img__el
	size 50px
	br(10px)
	border 1px solid $border-color
	margin-right: 10px
	margin-bottom: 10px
	background-size: cover
	background-repeat: no-repeat
	position: relative
	overflow: hidden
	cp()
	&:hover
		&:before
			content 'X'
			opacity:1

	&:before
		content 'X'
		position: absolute
		background: #000000b3
		width: 100%
		height: 100%
		left 0
		top 0
		flex(mid)
		color white
		opacity:0
		tr(all)
.upload-btn
	position: absolute
	left -9999px

.modal-btn-close
	@extend .btn--md
	@extend .btn--green
	min-width 240px

.item--clone
	.item-tag
		display: none !important
	.item-check
		display: none !important
	width: 300px

@keyframes shake
	from,11.1%,to
		transform: translate3d(0, 0, 0)
	22.2%
		transform: skewX(-12.5deg) skewY(-12.5deg)
	33.3%
		transform: skewX(6.25deg) skewY(6.25deg)
	44.4%
		transform: skewX(-3.125deg) skewY(-3.125deg)
	55.5%
		transform: skewX(1.5625deg) skewY(1.5625deg)
	66.6%
		transform: skewX(-0.78125deg) skewY(-0.78125deg)
	77.7%
		transform: skewX(0.390625deg) skewY(0.390625deg)
	88.8%
		transform: skewX(-0.1953125deg) skewY(-0.1953125deg)


.shake
	animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both
	transform: translate3d(0, 0, 0)
	backface-visibility: hidden
	perspective: 1000px

//LK
/.lk-bg
.lk-bg__left
	width: 50%
	height: 100%
	position: absolute
	top 0
	left 0
.lk-bg__right
	+below(1024px)
		display: none
	width: 50%
	height: 100%
	position: absolute
	top 0
	right 0
	background: $gray--light
.lk
	+below(1024px)
		fw()
	f()


.lk-user
	+below(1024px)
		width: 100%
		padding-right: 0
	width: 50%
	padding-right: 40px
.lk-title
	+below(768px)
		margin-bottom: 30px
	flex(between)
	margin-bottom: 30px
.lk-title__text
	+below(1200px)
		font-size: 40px
	+below(768px)
		font-size: 16px
	@extend .title
	font-weight 900
	up()
	margin-bottom: 0
.lk-title__exit
	+below(768px)
		display: none
	@extend .btn--md
	min-width auto
	padding: 20px 30px
.user
	+below(640px)
		margin-bottom: 30px
	margin-bottom: 50px
.user-row
	+below(640px)
		fw()
		margin-bottom: 20px
	f()
	margin-bottom: 35px
	align-items: center
.user__name
	+below(640px)
		width: 100%
		margin-bottom: 10px
	width: 40%
.user__val
	@extend .type--lg
	font-weight: 700
.lk-title-sub
	@extend .type--xl
	font-weight:700
	margin-bottom: 30px
.user-card
	+below(480px)
		grid-template-columns repeat(1,1fr);
	display: grid
	grid-gap 20px
	grid-template-columns repeat(2,1fr);
	margin-bottom: 50px
.user-card__el
	height: 160px
	border 1px solid $gray
	tr(all)
	&:hover
		border 1px solid #93908e
		.user-card__add-text
			color #93908e
		.user-card__add
			border 1px solid #93908e
			.icon
				fill #93908e
.user-card__el--active
	f()
	fl()
	tr(all)
	padding: 25px 20px
	background: $red
	position: relative
	border 0!important
	&:hover
		background: darken($red,5)
.user-card-remove
	flex(mid)
	br(2px)
	opacity .6
	size 22px
	border 1px solid white
	position: absolute
	right: 20px
	top 20px
	tr(all)
	&:hover
		opacity 1
		.icon
			opacity 1
	.icon
		tr(all)
		opacity .6
		size 8px
		fill white
.user-card-icon
	.icon
		fill white
		width 50px
		height: 15px
.user-card-numb
	@extend .type--lg
	color white
	margin-top: auto
	margin-bottom: 10px
.user-card__el--add
	flex(mid)
	fl()
	cp()
.user-card__add
	size 40px
	border 1px solid #e3ddd8
	flex(mid)
	br(4px)
	tr(all)
	margin-bottom: 5px
	.icon
		tr(all)
		size 18px
		fill #e3ddd8
.user-card__add-text
	color #e3ddd8
	tr(all)
.lk-adr
	+below(640px)
		margin-bottom: 0
	+below(480px)
		grid-template-columns repeat(1,1fr);
	display: grid
	grid-gap 20px
	grid-template-columns repeat(2,1fr);
	margin-bottom: 50px
.lk-adr__el
	border 1px solid $border-color
	cp()
	br(10px)
	padding: 30px 20px
	position: relative
	&:hover
		border 1px solid #93908e
		.lk-adr__add-text
			color #93908e
		.lk-adr__add
			border 1px solid #93908e
			.icon
				fill #93908e
.lk-adr__el--active
	position: relative
	f()
	fl()
	border 1px solid $red
.lk-adr-remove
	flex(mid)
	br(2px)
	opacity .6
	size 22px
	border 1px solid #cbbaac
	position: absolute
	right: 20px
	top 20px
	&:hover
		border 1px solid $red
		opacity 1
		.icon
			opacity 1
			fill green
	.icon
		tr(all)
		opacity .6
		size 8px
		fill #cbbaac
.lk-adr-adress
	margin-top: auto
	margin-bottom: 10px
.lk-adr-text
	tr(all)
	@extend .type--lg
	color $red
	font-weight: 700
	margin-bottom: 20px
//.lk-adr-edit
.lk-adr__el--add
	flex(mid)
	fl()
	cp()
.lk-adr__add
	size 40px
	border 1px solid #e3ddd8
	flex(mid)
	br(4px)
	tr(all)
	margin-bottom: 15px
	.icon
		tr(all)
		size 18px
		fill #e3ddd8
.lk-adr__add-text
	tr(all)
	color #e3ddd8
.lk-order
	+below(1024px)
		padding: 30px 10px
		background: $gray--light
		margin-left: -10px
		margin-right: -10px
		width calc(100% + 20px)
	+below(640px)
		margin-bottom: -30px
	width: 47%
	padding: 0 0 30px 40px
.user__val-info
	f()

.user__val-edit
	margin-left: 20px
	cp()
	color $red
	font-weight: 400
	font-size: 14px
.user__val-input
	f()
	.input-name
		margin-bottom: 0
.user__val--add
	cp()
	font-size: 14px
	link($red)

.user__val--bonus
	color $red
.user__val-send
	+below(640px)
		font-size: 12px
	@extend .btn--md
	@extend .btn--mark
	padding: 10px 20px
	min-width auto
	height: 50px

.history-title
	+below(640px)
		text-align: center
	@extend .type--xl
	font-weight: 700
	margin-bottom: 35px

.history
	width: 100%
	border-radius 10px
	overflow: hidden
	padding-bottom 30px
	+below(640px)
		max-width 340px
		margin-left: auto
		margin-right: auto
.history-card
	+below(1024px)
		.top
			display: none
	perspective 600px
	padding: 5px

	&:last-child
		border-bottom 0px
.history-card__wrap
	+below(640px)
		fw()
	cp()
	f()
	br(10px)
	tr(all)
	background: white
	padding: 20px
	align-items: center
	transform-style: preserve-3d;
	//transition all .6s
	&:hover
		box-shadow 0 10px 15px rgba(0, 0, 0, 0.1)
.history-card__wrap--active
	transform rotateX(90deg)
	backface-visibility hidden
.history-card__info
	+below(640px)
		width: 100%
	margin-right: 5%
.history-card__date
	margin-bottom: 5px
	+below(640px)
		margin-bottom: 10px
.history-card__numb
	opacity .6
.history-card__price
	+below(640px)
		margin-left:initial
		width: 100%
		flex(between)
	margin-left: auto
	@extend .type--lg

.history-card__list
	+below(640px)
		width: 100%
		margin: 20px 0
	+below(480px)
		grid-template-columns repeat(auto-fit, minmax(35px, 35px));
	display: grid
	grid-gap 15px
	grid-template-columns repeat(4,1fr);
.history-card__list-el
	+below(480px)
		size 35px
	size 40px
	round()
	bg-full()
	position: relative
.history-card__list-el-val
	position: absolute
	right: -8px
	top -2px
	size 24px
	background: #ca0000
	color white
	font-weight 700
	round()
	flex(mid)
	@extend .type--sm


.history-card__list-el--last
	.history-card__list-el-val
		width: 100%
		height: 100%
		left 0
		top 0
		opacity .8
		font-size: 14px
//.history-card--open

.history-info
	box-shadow 0 10px 15px rgba(0, 0, 0, 0.1)
	background-color #ffffff
	padding: 20px
	margin-bottom: 20px
	display: none
	br(10px)
.history-info--active
	display: block
//.history-card

.history-info__head
	+below(640px)
		margin-left: auto
		margin-right: auto
		max-width 320px
	f()
	margin-bottom: 20px
.history-info__head-date
	margin-right: 15px
.history-info__head-state
	color $red
.history-info__head-numb
	margin-left: auto
	opacity .6
	font-weight: 700
.history-info__list
	+below(640px)
		margin-bottom: 20px
	margin-bottom: 25px
.history-info__el
	+below(640px)
		fw()
		max-width 320px
		margin-left: auto
		margin-right: auto
		padding-bottom: 10px
		position: relative
	f()
	align-items: center
	margin-bottom: 10px
	padding-bottom: 20px
	border-bottom 1px solid $gray--light
.history-info__el-img
	+below(480px)
		size 35px
	size 40px
	round()
	bg-full()
	border 1px solid #cbbaac
	position: relative
	margin-right: 20px
.history-info__el-about
	+below(640px)
		width: 70%
	width: 50%
.history-info__el-title
	margin-bottom: 5px
.history-info__el-text
	opacity .6
.history-info__el-count
	+below(640px)
		margin-left:initial
		margin-top: 10px
		position: absolute
		size 20px
		background: white
		top -10px
		font-weight:700
		font-size: 10px

	size 40px
	border 1px solid $gray
	flex(mid)
	round()
	margin-left: auto
	margin-right: 10%
.history-info__el-price
	+below(640px)
		margin-top: 10px
	flex(mid)
	@extend .type--lg
	font-weight:700

.history-info-footer
	+below(640px)
		fw()
		justify-content: space-between
		padding-top: 0
	f()
	padding-top: 20px
	margin-top: 20px
	border-top 1px solid $border-color
	align-items: center
.history-info-total
	+below(640px)
		width: 100%
		justify-content: space-between
	f()
	align-items: center
.history-info-total__text
	margin-right: 10px
.history-info-total__val
	color $red
	@extend .type--xl
	font-weight: 700
	font-size: 24px
.history-info-get
	+below(640px)
		width: 100%
		margin: 20px 0
	@extend .btn--sm
	@extend .btn--mark
	margin-right: auto
	padding: 10px 20px
	flex(mid)
	.icon
		size 18px
		margin-right: 10px
		fill white
.histiry-empty
	+below(480px)
		width: 100%
	width: 320px
	line-height: 1.6
.lk-user__wrap,.lk-order__wrap
	+below(1024px)
		max-width 768px
		margin-left: auto
		margin-right: auto

.history-card__price_text
	+above(641px)
		display: none
.history-card__price_val
	font-weight:700
.content--lk
	position: relative

.lk-adr-conf
	position: absolute
	f()
	top 20px
	right: 20px
	.icon
		opacity:.2
		tr(all)
		&:hover
			opacity:1

.lk-adr-conf__el--edit
	.icon
		size 18px
		margin-right: 10px
.lk-adr-conf__el--remove
	.icon
		size 20px

.user-config
	f()
	.icon
		opacity:.2
		tr(all)
		cp()
		&:hover
			opacity:1

.user-config__el--edit
	.icon
		size 25px
		margin-right: 30px
.user-config__el--remove
	.icon
		size 25px

.history-card--active
	//box-shadow 0 10px 15px rgba(0,0,0,0.1)
	.history-card__wrap
		border-radius 10px 10px 0 0
		box-shadow 0 0 0!important
	.history-info
		box-shadow 0 0 0!important
		border 1px solid #f7f7f7
		border-radius 0 0 10px 10px


//LK ===end

.input-row-half
	+below(640px)
		fw()
		margin-bottom: 0
	f()
	justify-content: space-between
	margin-bottom: 20px
	.input-wrap
		+below(640px)
			width: 100%
			margin-bottom: 20px
		width: 48%

.input-row__title
	margin-bottom: 10px
	opacity: .6

.modal-content--mail
	width: 300px

.input-wrap
	.input
		width: 100%
	.nice-select
		width: 100%
		margin-bottom: 0

.vacancy-list
	+below(1024px)
		grid-template-columns repeat(3, 1fr)
	+below(764px)
		grid-template-columns repeat(2, 1fr)
		margin-bottom: 40px
	+below(420px)
		grid-template-columns 1fr
	display: grid
	grid-gap 30px
	grid-template-columns repeat(4, 1fr)
	margin-bottom: 100px
.vacancy-list__el
	overflow: hidden
	border-radius 10px
	&:hover
		bsh-hover()
	bsh()
	cp()
	tr(all)
.vacancy-list__img
	padding: 45% 10%
	bg-full()
	position: relative
.vacancy-list__info
	padding: 30px 25px 60px 25px
.vacancy-list__title
	@extend .type--lg
	font-weight: 700
	margin-top: auto
	line-height: 1.4
	margin-bottom: 20px
.vacancy-list__decr
	line-height: 1.6
	opacity: .8
	font-family: 'PT Sans', sans-serif
	font-weight: 500


.vacancy-list__el-cont
	position: absolute
	width: 100%
	height: 100%
	left 0
	top 0
	f()
.vacancy-list__loc
	f()
	align-items: center
	margin-top: auto
	padding: 8px 8px 8px 20px
	background: #e5e5e5
	border-radius 0 20px 20px 0
	height: 40px
.vacancy-list__loc-title
	color #1b2230
	margin-right: 10px
.vacancy-list__loc-val
	round()
	size 25px
	background: white
	flex(mid)

.vacancy-tag
	+below(768px)
		margin-bottom: 0
	f()
	fw()
	margin-bottom: 40px
.vacancy-tag__el
	+below(640px)
		padding: 5px 10px
		width: 100%
	padding: 10px 20px
	background: #e5e5e5
	border-radius 18px
	margin-right: 10px
	margin-bottom: 10px

.vacancy-wrap
	+below(768px)
		margin-bottom: 40px
	f()
	fw()
	justify-content: space-between
	margin-bottom: 100px

.vacancy-content
	+below(1024px)
		width: 60%
	+below(640px)
		width: 100%
	width: 70%
	ul
		margin-bottom: 40px
.vacancy-get
	+below(1024px)
		width: 35%
	+below(640px)
		width: 100%
	width: 25%

.upload-img--doc
	.upload-img__el
		position: relative
		&:before
			content '+doc'
			position: absolute
			width: 100%
			height: 100%
			left 0
			top 0
			background: $red
			z-index 2
			opacity: 1

//slide menu
.head-toggle
	flex(mid)
	cp()
	margin-right: 20px
	+above(769px)
		display: none
	.icon
		size 25px
	.icon-close
		display: none

.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(768px)
		display: none !important
	+below(640px)
		top: 50px //Высота хедера
	+below(480px)
		width: 100%
	background: white
	position: fixed
	height: calc(100% - 50px) //Отступ хедер
	z-index 1250
	top 50px
	left 0
	width: 320px
	transform translateX(-100%)
	tr(all)
	overflow-x: hidden
	.header-search
		width: 100%
		padding: 20px
.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.body-fix
	position: fixed!important
	overflow-Y: scroll!important
	width:100%!important

.slide-menu-wrap
	height: 100%
	position: relative
.slide-menu__list
	position: absolute
	width: 100%
	left 0
	top 0
	background:white
	height: 1px
	overflow: hidden
	opacity:0
	transition transform .8s


.slide-menu__list--up
	transform translateX(-100%)
.slide-menu__list--down
	transform translateX(100%)
.slide-menu__list--active
	transform translateX(0)
	opacity:1
	overflow: auto
	height: 100%
.slide-el
	@extend .type--lg
	display: block
	padding: 20px 20px 20px 10px
	border-bottom 1px solid $border-color
	font-weight:500
	flex(between)
	color black
	cp()
	& > .icon
		size 20px
		fill #1c2331
	.tag__el-text
		color black
		font-size: 18px
	.tag__el-icon
		f()
		align-items: center
		.icon
			margin-right: 20px
			size 25px

.slide-el--active
	color $red

.slide-menu-contact
	flex(mid)
	fl()
	margin-top: 20px
	.login-enter-mobile-text
		display: block
	.login-enter
		flex(mid)
		.icon
			size 20px
			margin-right: 10px

.slide-menu-phone
	font-weight:700
	font-size: 20px
	margin-bottom: 20px

//slide menu === end


.discount-list
	+below(850px)
		grid-template-columns repeat(2, 1fr)
		margin-bottom: 40px
	+below(640px)
		grid-template-columns 1fr
	display: grid
	grid-gap 30px
	grid-template-columns repeat(3, 1fr)
	margin-bottom: 100px
.discount-list__el
	overflow: hidden
	border-radius 10px
	bsh-hover()
	cp()
.discount-list__img
	padding: 30% 10%
	bg-full()
	position: relative
.discount-list__info
	+below(640px)
		padding: 20px
	padding: 30px 25px 60px 25px
.discount-list__title
	@extend .type--lg
	font-weight: 700
	margin-top: auto
	line-height: 1.4
	margin-bottom: 20px
	up()
.discount-list__decr
	line-height: 1.6
	@extend .type--md

.discount-list__time
	opacity: .6
	margin-bottom: 20px

.discount-item
	+below(640px)
		margin-bottom: 30px
	margin-bottom: 100px
.discount-item__img
	+below(768px)
		border-radius 0px
		margin-left: -10px
		width calc(100% + 20px)
		padding: 20% 10%
		margin-bottom: 20px
	+below(640px)
		padding: 20% 10%
	bg-full()
	padding: 15% 10%
	border-radius 20px
	margin-bottom: 30px
.discount-item-wrap
	+below(640px)
		fw()
	f()
	justify-content: space-between
.discount-item-info
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width: 65%
	line-height: 1.6
.discount-item-title
	+below(640px)
		margin-bottom: 20px
	@extend .type--xxl
	font-weight 700
	margin-bottom: 30px
.discount-soc
	+below(640px)
		width: 100%
	width: 25%
//.soc-wrap
.soc-wrap-text
	margin-bottom: 20px

.add-list
	+below(1280px)
		grid-template-columns repeat(4, 1fr)
	+below(1024px)
		grid-template-columns repeat(3, 1fr)
		margin-bottom: 30px
	+below(640px)
		grid-template-columns 1fr
	display: grid
	grid-gap 30px
	grid-template-columns repeat(5, 1fr)
	margin-bottom: 50px

.addsale-list
	+below(768px)
		grid-template-columns repeat(2, 1fr)
		margin-bottom: 30px
	+below(640px)
		grid-template-columns 1fr
	display: grid
	grid-gap 30px
	grid-template-columns repeat(3, 1fr)


.add-list-wrap
	+below(640px)
		display: none

.item--small
	+below(640px)
		box-shadow none
	bsh()
	.item__img
		+below(640px)
			padding: 15% 10%
		height: auto!important
		padding: 45% 10%
	.item__title-wrap
		margin-bottom: 30px
	.item__title
		@extend .type--md
.item--small-add
	.item__img
		padding: 65% 10%
		+below(640px)
			padding: 25% 10%
	.item__title-wrap
		margin-bottom: 0
.bread-row--simple
	+below(768px)
		display: none

.basket-wrap
	+below(768px)
		fw()
		margin-bottom: 30px
	f()
	justify-content: space-between
	align-items: flex-start
	margin-bottom: 100px

.modal
	.basket-wrap
		margin-bottom: 0
.basket-list
	+below(768px)
		width: 100%
	+below(640px)
		padding: 0
	width: 75%
	padding: 30px
	background: white
	br(10px)
.basket-el
	+below(640px)
		fw()
		position: relative
		padding-bottom: 40px
		border-bottom 1px solid $border-color
	margin-bottom: 20px
	flex(between)
.basket-el__img
	+below(640px)
		size(70px)
	size(80px)
	br(10px)
	bg-full()
	margin-right: 20px
	align-self flex-start
.basket-el__info
	+below(640px)
		width calc(100% - 90px)
		margin-bottom: 20px
	width: 50%
.basket-el__title
	+below(640px)
		max-width calc(100% - 25px)
	@extend .type--md
	font-weight 700
	margin-bottom: 15px
	display: inline-block
	span
		link()
.ingr-list
	f()
	align-items: center
	fw()

.ingr
	flex(mid)
	padding: 5px 14px
	border 1px solid $border-color
	border-radius 20px
	font-size: 10px
	font-weight:700
	opacity:.6
	margin-right: 5px
	margin-bottom: 8px
	height: 25px
	tr(all)
	cp()
	background: white
	&:hover
		border-color $red
		color $red
		.icon
			fill $red
			transform rotate(180deg)
	span
		display: inline-block
		margin-right: 5px
	.icon
		tr(all)
		size 6px
		transform rotate(0deg)
.basket-ingr-add
	flex(mid)
	round()
	size 20px
	background:$red
	margin-bottom: 8px
	cp()
	tr(all)
	transform scale(1)
	&:hover
		background:darken($red,5)
		transform scale(1.4)
	.icon
		fill white
		size 10px

.basket-el__incr
	+below(768px)
		margin-left: 20px
	+below(640px)
		margin-left: 90px
	width: 120px
//.elements-icr-block
.basket-el__price
	+below(640px)
		font-size: 18px
		width: auto
	width: 15%
	text-align: center
	@extend .type--lg
	font-weight 700
.basket-el__remove
	+below(640px)
		top 0
		right 0
		position: absolute
	.icon
		+below(640px)
			size 18px
		size 25px
		fill #c2c2c2
		tr(all)
		cp()
		&:hover
			fill $red
.basket-info
	+below(1024px)
		width: 30%
	+below(768px)
		width: 100%
		border 1px solid $border-color
		padding: 25px
		br(20px)
		margin-left: auto
		margin-right: auto
		max-width 480px
	width: 25%
	padding:0 0 40px 25px
	margin-left: 25px
	//border-left 1px solid $border-color

//.basket-info
.basket-cost
	flex(mid)
	fl()
.basket-title
	color #aaadb2
	@extend .type--lg
	font-weight 500
	margin-bottom: 15px
.basket-price
	+below(768px)
		font-size: 28px
	color #1b2230
	@extend .type--xxl
	font-weight 700
	margin-bottom: 15px
.basket-sale
	@extend .type--lg
	font-weight 500
	f()
	margin-bottom: 30px
.basket-sale__text
	color #aaadb2
	margin-right: 5px
.basket-sale__val
	color $red

.basket-promo
	flex(mid)
.basket-promo__input
	width: 80%
	position: relative
	margin-bottom: 30px
	.input
		@extend .type--lg
		font-weight 700
		color black
		width: 100%
		padding-right: 35px
		text-align: center
		&:focus
			border-color black
	.icon
		size 20px
		position: absolute
		top calc(50% - 10px)
		right: 15px
		display: none
.basket-promo__input--true
	.icon-true
		display: block
		fill #06a318
.basket-promo__input--false
	.icon-false
		top calc(50% - 7px)
		display: block
		fill $red
		size 14px
.basket-descr
	margin-bottom: 15px
.basket-enter
	margin-bottom: 15px
	line-height: 1.6
.basket-auth
	link($red)
	cp()
	margin-right: 5px
.basket-code
	margin-bottom: 40px
	.input
		width: 100%
.basket-deliver
	+below(768px)
		text-align: center
		display: block
	display: inline-block
	span
		link($red)
.basket-get
	@extend .btn--md
	@extend .btn--mark
	width: 100%
	margin-top: 30px

.basket-empty
	width: 100%
	flex(mid)
	fl()
	margin-bottom: 30px
.basket-empty--hidden
	display: none
.basket-empty__icon
	.icon
		size 80px
		margin-bottom: 20px
.basket-empty__title
	@extend .type--lg
	font-weight 700
	color black
	margin-bottom: 10px
.basket-empty__text
	margin-bottom: 30px
.basket-empty__get
	@extend .btn--md
	@extend .btn--mark

.snacks
	+below(768px)
		flex(mid)
	+below(640px)
		border 0
		margin: 20px 0 0 auto
		padding-top: 0
	f()
	fl()
	padding: 20px 0
	border-top 1px solid $border-color
	align-items: flex-end
	margin: 60px 0 0 auto
.snacks-text
	+below(480px)
		text-align: left
	@extend .type--md
	line-height: 1.6
	margin-bottom: 20px
	text-align: center
.snacks-row
	+below(640px)
		width: 100%
		position: relative
	f()
	align-items: center
	margin-bottom: 15px
.snacks-row__img
	bg-full()
	size 40px
	round()
	border 1px solid $border-color
	margin-right: 10px
.snacks-row__name
	+below(480px)
		width: calc(100% - 120px)
		margin: 0 0 0 20px
		font-size: 12px
		max-width calc(100% - 140px)
	@extend .type--md
	font-weight:500
	span
		link()
	margin: 0 30px

.snacks-row__number
	font-weight:500
	@extend .type--md
.snacks-row__remove
	+below(480px)
		position: absolute
		background: $red
		size 20px
		flex(mid)
		round()
		top -5px
		left 20px
	.icon
		+below(768px)
			fill white
			size 10px
		&:hover
			fill $red
		size 25px
		fill #c2c2c2
		tr(all)
		cp()
.snacks-row__text
	+below(640px)
		display: none
	font-weight: 500
	margin-right: 40px

.add-ingr-row
	margin-bottom: 10px
.add-ingr__head
	+below(640px)
		fw()
	f()
	align-items: center
	margin-bottom: 20px
.add-ingr__title
	font-size 24px
	font-weight 700
	color $black
	margin-right: 10px
.add-ingr__text
	color #aaadb2
	font-family Gotham
	@extend .type--md
.add-ingr__list
	f()
	fw()
	align-items: center
.add-ingr__el
	+below(480px)
		width: 100%
		margin-right: 0
		fl()
		padding: 15px 0
		height: auto
	flex(between)
	br(20px)
	cp()
	tr(all)
	height: 40px
	border 1px solid $border-color
	margin-right: 20px
	margin-bottom: 20px
	overflow: hidden
	user-select: none
	&:hover
		bsh()
	.incr__nav
		display: none
	.incr__val
		display: none
.add-ingr__el--active
	border 1px solid $red
	.add-ingr__el-img
		display: none
	.incr__nav
		display: flex
		border-color $red
		size 40px
		&:hover
			.icon
				fill white
		.icon
			fill $red
	.incr__val
		+below(480px)
			margin-left: 0
		display: flex
		margin-left: 15px
		width: 35px
	.incr__minus
		+below(480px)
			margin-bottom: 10px
		margin-left: -1px
	.incr__plus
		+below(480px)
			margin-top: 10px
		margin-right: -1px
.incr__val-count
	margin-left: 5px
.add-ingr__el-img
	round()
	bg-full()
	size 40px
	border 1px solid $border-color
.add-ingr__el-name
	+below(480px)
		margin: 10px 0
	@extend .type--md
	color $black
	margin: 0 0 0 15px
.add-ingr__el-weight
	+below(480px)
		margin: 0
		margin-bottom: 10px
	@extend .type--md
	color $gray
	margin: 0 0 0 15px
.add-ingr__el-price

	color #1b2230
	@extend .type--md
	font-weight 700
	margin: 0 15px

.add-ingr-footer
	+below(768px)
		fl()
		flex(mid)
	flex(between)
.add-ingr-cost
	+below(768px)
		margin-bottom: 20px
	+below(480px)
		fl()
		flex(mid)
	f()
	align-items: center
.add-ingr-cost__text
	+below(480px)
		margin-right: 0
		margin-bottom: 10px
	@extend .type--md
	margin-right: 10px
.add-ingr-cost__val
	+below(480px)
		margin-right: 0
		margin-bottom: 10px
	font-size 24px
	font-weight 700
	color $black
	margin-right: 15px
.add-ingr-item
	@extend .type--md
.add-ingr-clear
	+below(768px)
		margin-left:initial
		margin-right: 0
		margin-bottom: 20px
	+below(480px)
		width: 100%
	@extend .btn--md
	@extend .btn--light
	margin-left: auto
	margin-right: 15px
	width: 200px
.add-ingr-get
	+below(480px)
		width: 100%
	@extend .btn--md
	@extend .btn--mark
	width: 200px


.cafe-wrap
	+below(768px)
		margin-bottom: 40px
	f()
	fw()
	justify-content: space-between
	margin-bottom: 100px

.cafe-content
	+below(1024px)
		width: 60%
	+below(640px)
		width: 100%
	width: 70%
	ul
		margin-bottom: 40px
.cafe-get
	+below(1024px)
		width: 35%
	+below(640px)
		width: 100%
		margin-bottom: 30px

	width: 25%

.nice-select
	br(20px)
	margin-bottom: 20px
	display: block
	color #000000
	font-size 14px
	font-weight 700
	line-height:auto
	.list
		width: calc(100% )
		left 0px
		border-radius 0 0 20px 20px
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		max-height 200px
		overflow-y: auto
		li
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis

  .current
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		display inline-block
		max-width 90%
.nice-select.open
	border-radius 20px 20px 0 0
select.select-beauty
	display none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

.cafe-tab
	+below(640px)
		width: 100%
	flex(mid)
	border 1px solid $border-color
	br(25px)
	width: 70%
	margin-left: auto
	margin-right: auto
	overflow: hidden
	margin-bottom: 30px
	background: white
.cafe-tab__el
	cp()
	tr(all)
	@extend .type--lg
	padding: 15px
	text-align: center
	width: 50%
	font-weight 500
.cafe-tab__el--active
	background: #ebebeb
	br(25px)
.cafe-tab-info
	@extend .hidden-block
.cafe-tab-info--active
	@extend .visible-block
.cafe-map
	bsh()
	padding: 40% 10%
	background: $gray
	position: relative
	width: 100%
	br(20px)
	overflow: hidden
.cafe-map__el
	position: absolute
	top 0
	left 0
	width: 100%
	height: 100%
	z-index 2
.cafe-list
	+below(1024px)
		grid-template-columns repeat(2, 1fr)
	+below(768px)
		grid-gap 15px
	+below(480px)
		grid-template-columns 1fr
	display: grid
	grid-gap 20px
	grid-template-columns repeat(3, 1fr)
.cafe-list__el
	bsh()
	br(20px)
.cafe-list__el-wrap
	br(20px)
	overflow: hidden
	display: block
	tr(all)
	&:hover
		bsh-hover()
.cafe-list__el-img
	+below(480px)
		display: none
	padding: 40% 10%
	bg-full()
.cafe-list__el-content
	+below(480px)
		border-top 1px solid $border-color
		br(20px)
	tr(all)
	padding: 20px
	//border 1px solid $border-color
	border-top 0
	border-radius 0 0 20px 20px
	background: white
.cafe-list__el-title
	@extend .type--md
	margin-bottom: 20px
	display: inline-block
	span
		link()
.cafe-list__el-adr
	color #aaadb2
	margin-bottom: 5px

.cafe-item
	+below(640px)
		fw()
		margin-bottom: 40px
	f()
	justify-content: space-between
	margin-bottom: 100px

.cafe-item__img-wrap
	+below(640px)
		width: 100%
		margin-bottom: 10px
	width: 50%
.cafe-item__img-el
	bg-full()
	br(20px)
	padding: 40% 10%

.cafe-item__cont
	+below(640px)
		width: 100%
	width: 45%
.cafe-item__title
	+below(1024px)
		font-size: 28px
	+below(768px)
		font-size: 24px
	+below(640px)
		margin-bottom: 10px
		font-size: 20px
	@extend .type--xxl
	line-height: 1.6
	font-weight: 700
	margin-bottom: 30px
.cafe-item__time
	color #aaadb2
	margin-bottom: 20px
	span
		display: inline-block
		margin-right: 20px
.cafe-item__text
	margin-bottom: 40px
.cafe-item__adv
	f()
	margin-bottom: 10px
.cafe-item__adv-icon
	.icon
		fill $red
		size 20px
		margin-right: 10px
//.icon
.cafe-item__adv-text
	@extend .type--md

.cafe-item-get
	+below(640px)
		width: 100%
	@extend .btn--md
	@extend .btn--mark
	margin-top: 30px
	padding: 15px 50px

.white-box
	padding: 40px 0
	background: white

.modal--cart
	.basket-list
		+below(640px)
			padding: 0px
	.basket-el__incr
		margin-left: 0

.modal--md
	width: 100%
	max-width 400px

.basket-cont
	+below(1024px)
		width: calc(100% - 340px)
	width: calc(100% - 380px)
	+below(768px)
		width: 100%

.panel
	+below(768px)
		flex(mid)
		width: 100%
	+below(768px)
		display: none
.panel--show
	display: flex!important
.panel-wrap
	+below(480px)
		width: 100%
	width: 320px
	box-shadow 0 10px 20px rgba(0, 0, 0, 0.1)
	background-color #ffffff
	padding: 20px 25px 45px 25px
.panel-head
	@extend .type--xl
	font-weight 700
	padding-bottom: 10px
	border-bottom 1px solid #f1eeeb
	margin-bottom: 35px
	f()
	align-items: center
.panel-head__numb
	margin-left: auto
	@extend .type--main
.panel-total
	//border-top 1px solid #f1eeeb
	padding-top: 10px
	flex(between)
	margin-bottom: 20px
.panel-text
	@extend .type--lg
	font-weight 700
.panel-val
	color $red
	@extend .type--xxl
	font-weight 700
//.panel-footer
.panel-get
	@extend .btn--md
	@extend .btn--mark
	width: 100%
	margin-bottom: 15px
.panel-back
	@extend .btn--md
	@extend .btn--light
	width: 100%

.order-tab
	f()
	border 1px solid $red
	margin-bottom: 30px
	border-radius 10px
	overflow: hidden
.order-tab__el
	padding: 15px 20px
	width: 50%
	text-align: center
	color $red
	cp()
.order-tab__el--active
	background: $red
	color white

.order
	+below(1024px)
		width: 100%
	+below(768px)
		margin-bottom: 30px
	+below(640px)
		width: 100%
	width: 70%

.order-time
	+below(480px)
		fl()
		flex(mid)
	f()
	align-items: center
	margin-bottom: 20px
	.nice-select
		+below(768px)
			width: 100%
		margin-bottom: 0
		width: 60%
.order-time__title
	+below(480px)
		width: 100%
		text-align: center
		margin-bottom: 20px
	@extend .type--md
	margin-right: 20px
.radio-list
	.check-el
		margin-bottom: 20px

.order-title
	@extend .type--lg
	font-weight: 700
	margin-bottom: 20px
//.payment__type-tab
.payment__type__el
	margin-bottom: 20px
//.payment__type-cont
//.payment__type-cont-el
//.payment-card
.payment-card__el
	+below(380px)
		width: 100%
	flex(between)
	@extend .btn--md
	@extend .btn--light
	padding: 20px
	margin-bottom: 20px
	width 320px
	br(4px)
	&:hover
		.icon
			fill white
	.icon
		width 45px
		height: 15px
		margin-right: 20px
		fill $red
		margin-bottom: -2px
//.payment-card__el-icon
//.icon
//.payment-card__el-val
.payment-card__other
	+below(380px)
		width: 100%
	@extend .btn--md
	@extend .btn--light
	padding: 20px
	margin-bottom: 20px
	width 320px
	br(4px)
	up()
.payment-card__el--active
	background: $red
	color white
	.icon
		fill white
//.range
.range-wrap
	margin-bottom: 50px
.irs-slider
	background: $red
	round()
	border 1px solid darken($red,10)
.irs-line-left
	background: #cbbaac
.irs-line-right
	background: #cbbaac
	border-radius 0px 5px 5px 0
.irs-line-mid
	background: #cbbaac
.irs-bar-edge
	background: $red
	border-radius  5px 0 0 5px
.irs-bar
	background: $red
.irs-min, .irs-max
	display: none
.irs-from, .irs-to, .irs-single
	background: white
	color black
	@extend .type--main
	top 45px

.order-time__select
	+below(768px)
		width: 100%
	width: 60%

.panel-list
	+below(480px)
		grid-template-columns repeat(auto-fit, minmax(35px, 35px));
	margin-top: -10px
	display: grid
	grid-gap 15px
	grid-template-columns repeat(auto-fit, minmax(40px, 40px));
	padding-bottom: 20px
	margin-bottom: 15px
	border-bottom 1px solid #f1eeeb
.panel-list__el
	+below(480px)
		size 35px
	size 40px
	round()
	bg-full()
	border 1px solid #cbbaac
	position: relative
.panel-list__el-val
	position: absolute
	right: -8px
	top -2px
	size 24px
	background: $red
	color white
	round()
	flex(mid)
	@extend .type--sm

.panel-list__el--last
	border 1px solid darken($red,10)
	.panel-list__el-val
		width: 100%
		height: 100%
		left 0
		top 0
		opacity .8
		font-size: 14px

.panel-row
	f()
	align-items: center
	margin-bottom: 20px
.panel-row__icon
	margin-right: 20px
	margin-top: 5px
	.icon
		size 24px
		fill $brown
.panel-row__text
	line-height: 1.6

.check-el--agree
	.style-label
		align-items: flex-start
	@extend .type--sm
	line-height: 1.6
	margin-bottom: 25px

.input-row--adress
	+below(640px)
		fw()
	flex(between)
	.input
		+below(640px)
			width: 48%
		width: 23%

.catalog
	+below(768px)
		fw()
	f()
	justify-content: space-between
	align-items: flex-start
	margin-bottom: 40px
.catalog-tool
	+below(768px)
		width: 100%
		margin-bottom: 30px
		display: none
	width: 300px
	background: white
	padding: 30px 20px 50px 20px
	bsh()
	br(20px)
.catalog-tool__row
	margin-bottom: 30px
	.check-el
		margin-bottom: 10px
.catalog-tool__title
	font-size: 20px
	font-weight: 700
	margin-bottom: 20px
.catalog-tool-tag
	f()
	fw()
.catalog-tool-tag__el
	f()
	cp()
	br(25px)
	tr(all)
	padding: 10px 15px
	border 1px solid $border-color
	margin-right: 10px
	margin-bottom: 10px
	&:hover
		bsh-hover()
	.icon
		size 16px
		margin-right: 8px
.catalog-tool-ingr
	+below(768px)
		grid-template-columns repeat(auto-fill, 120px)
	+below(480px)
		grid-template-columns 1fr 1fr
	display: grid
	grid-gap 10px
	grid-template-columns 1fr 1fr
.catalog-tool-ingr__el
	br(25px)
	cp()
	tr(all)
	border 1px solid $border-color
	overflow: hidden
	&:hover
		bsh-hover()
.catalog-tool-ingr__img
	bg-full()
	padding: 30% 10%
.catalog-tool-ingr__name
	padding: 5px
	border-top 1px solid $border-color
	text-align: center
	font-weight:500

.catalog-wrap
	+below(1100px)
		grid-template-columns repeat(2, 1fr)
	+below(768px)
		width: 100%
	+below(640px)
		grid-template-columns 1fr
	width calc(100% - 320px)
	display: grid
	grid-gap 20px
	grid-template-columns repeat(3, 1fr)

.catalog-tool__get
	@extend .btn--md
	@extend .btn--mark
	margin-bottom: 20px
	width: 100%
.catalog-tool__clear
	@extend .btn--md
	@extend .btn--light
	width: 100%

.catalog-tool-item--active
	border 1px solid $red

.catalog-sort
	+below(768px)
		margin-top: 0
	f()
	margin-bottom: 25px
	align-items: center
	justify-content: flex-end
	margin-top: -20px
	.nice-select
		+below(768px)
			width: 100%
		margin-bottom: 0
		width: 250px
.catalog-sort__name
	+below(768px)
		display: none
	@extend .type--md
	margin-right: 20px
.catalog-sort__el
	@extend .type--md
	tr(all)
	cp()
	margin-left: 20px
	opacity: .6
	&:hover
		opacity: 1
		color $red
.catalog-sort__el--active
	opacity: 1
	color $red
catalog-sort__name
.catalog-filter
	+above(769px)
		display: none
	flex(mid)
	br(20px)
	background: white
	padding: 10px 20px
	border 1px solid $border-color
	margin-bottom: 20px
	cp()
	.icon
		size 16px
		fill black
		margin-right: 10px
	span
		up()
		font-weight: 500

.catalog-filter--active
	background: $red
	color white
	border-color $red
	.icon
		fill white

.item-toggle
	f()
	width: 100%
	border 1px solid $border-color
	br(20px)
	margin-bottom: 30px
	overflow: hidden
.item-toggle__el
	padding: 10px
	font-size: 12px
	text-align: center
	flex-grow 1
	flex-shrink: 1
	flex-basis: 0
	border-left 1px solid $border-color
	cp()
	&:nth-child(1)
		border 0

.item-toggle__el--active
	background: #ededed

//map
.deliver-list
	+below(768px)
		grid-template-columns repeat(1,1fr);
		margin-bottom: 20px
	display: grid
	grid-gap 20px
	grid-template-columns repeat(3,1fr);
	margin-bottom: 50px
.deliver-list__el
	padding: 25px
	br(5px)
	background: white
	bsh()
.deliver-list__el--active
	background: $red
	.deliver-list__title
		color white
.deliver-list__title
	@extend .type--xl
	color $red
	margin-bottom: 15px
	font-weight: 700
.deliver-list-wrap
	fw()
	f()
	justify-content: space-between
	margin-top: 20px
.deliver-list-col
	+below(1024px)
		width: 100%
	width: 48%
.deliver-list-col__title
	+below(1024px)
		font-size: 14px
	margin-bottom: 20px
	color white
	@extend .type--lg
.deliver-list-col__text
	color white
	margin-bottom: 10px
	font-size: 12px
.deliver-list__title-sub
	margin-bottom: 20px
	@extend .type--md
	font-weight: 500
.deliver-list__title-text
	line-height: 1.6
.deliver-map
	+below(768px)
		fw()
	f()
	justify-content: space-between
	align-items:stretch

.deliver-map__item
	+below(768px)
		width: 100%
		margin-bottom: 20px
	width: 66%
.deliver-map__item-el
	+below(768px)
		height: 350px
	background: #f2f2f2
	height: 100%
	br(10px)
.deliver-map__col
	+below(768px)
		width: 100%
	width: 32%
	.title--sm
		margin-bottom: 10px

.deliver-map__col-item
	margin-bottom: 40px
	&:last-child
		margin-bottom: 0px
	padding-top: 20px
	border-top 4px solid $red
	.book-row
		margin-bottom: 15px
//.deliver-map__col-item--green
.deliver-map__text
	line-height: 1.6
//map

.deliver-map__phone
	@extend .type--md
	margin-top: 20px
	font-weight: 700

.deliver-payment-wrap
	display: inline-block

.deliver-payment
	f()
	margin-top: 30px
	border 1px solid $border-color
	padding: 5px 10px
	br(10px)
	background: white
	.icon
		size 60px
		margin-right: 10px

.deliver-note
	+below(768px)
		fw()
	f()
	justify-content: space-between
	margin-top: 30px
.deliver-note__el
	+below(768px)
		width: 100%
		margin-bottom: 20px
	width: 32%
	f()
	padding: 30px 20px
	background: white
	br(10px)
	bsh()
.deliver-note__icon
	margin-right: 20px
	.icon
		size 60px
		fill $red
.deliver-note__text
	line-height: 1.6


.goods
	+below(640px)
		fw()
		margin-bottom: 30px
	f()
	justify-content: space-between
	align-items: flex-start
	margin-bottom: 100px
.goods-img
	+below(1200px)
		width: calc(100% - 440px)
	+below(640px)
		margin-bottom: 20px
		padding: 40% 10%
		margin-left: -10px
		br(0)
		width calc(100% + 20px)
	br(20px)
	bg-full()
	position: relative
	width: 60%
	padding: 20% 10%
//.item-tag
//.item-tag__el
//.item-tag__el--purpur
//.icon
//.item-tag__el--fire
//.item-tag__el--veg
.goods-cont
	+below(640px)
		width: 100%
		min-width initial
	min-width 420px
	width: 37%
	.soc-row
		margin-bottom: 10px
.goods-title
	@extend .type--xxl
	font-weight 700
	line-height: 1.2
	margin-bottom: 20px
.goods-descr
	margin-bottom: 20px
.goods-add
	display: grid
	grid-gap 20px
	grid-template-columns 1fr 1fr
	margin-bottom: 20px
	display: none
.goods-add__el
	f()
	br(20px)
	cp()
	padding: 5px 15px
	border 1px solid $border-color
	align-items: center
.goods-add__icon
	.icon
		size 26px
		margin-right: 20px
.goods-add__text
	font-weight 700

.goods-consist
	+below(480px)
		fw()
	f()
.goods-consist__el
	+below(480px)
		width: 50%
	flex(mid)
	fl()
	border-right 1px solid #f4f3f3
	padding: 20px 10px
	width: 25%
	&:last-child
		border 0
.goods-consist__val
	color #aaadb2
	font-size 20px
	font-weight 700
.goods-consist__name
	font-size: 13px
.goods-cond
	+below(480px)
		justify-content: space-between
	f()
	margin-bottom: 20px
.goods-cond__el
	+below(480px)
		margin-right: 10px
	f()
	align-items: center
	margin-right: 20px
.goods-cond__icon
	.icon
		size 25px
		margin-right: 10px
		fill #aaadb2
.goods-cond__text
	+below(480px)
		font-size: 10px
.goods-footer
	+below(480px)
		fw()
	flex(between)
.goods-cost
	+below(480px)
		flex(mid)
		fl()
		width: 100%
		margin-bottom: 20px

.goods-cost__val
	@extend .type--xxl
	font-weight 700
	font-size: 32px
//.goods-cost__sale
.goods-get
	+below(480px)
		width: 100%
	@extend .btn--md
	@extend .btn--mark
	width: 50%
	up()

.goods-consist-wrap
	margin: 20px 0
	background: white
	br(20px)
	overflow: hidden

.catalog-filter--main
	margin-top: 20px

.tag-wrap
	+below(640px)
		display: none