include block_html/_style.pug
include block_html/_include.pug

.page
	.page-head
		+header()

	.page-content
		.main-cont
			.bread-row
				.bread-title Заголовок
				.bread
					a(href="#").bread__el Главная
					.bread__el О нас
				a(href="#").page-nav
					.page-nav__icon
						+icon("arrow-back","icon")
					.page-nav__text на главную

			.title.title--mobile Аппетитные суши и роллы с доставкой на дом
			.about-text Сеть кафе «Окинава» предлагает доступно заказать самые лучшие роллы и суши в Казани. Благодаря нам Вы можете наслаждаться невероятным вкусом свежеприготовленных блюд, не выходя из дома и Вам не придется тратить своё время на кухне. Профессиональные повара готовят только из качественных продуктов, а служба доставки оперативно доставит вкусную еду на дом или в офис в кротчайшие сроки. "Окинава" это вкусно, быстро и доступно.

			.title Наша компания в цифрах
			.company
				.company-row
					.company-val 8
					.company-text уютных кафе по Казани, с кухней, работающей на доставку общей площадью 1400 кв.м
					.company-get
						a(href="#").company-get__el Посмотреть кафе
				.company-row
					.company-val 130
					.company-text Автомобилей в нашем автопарке, которые ежедневно максимально быстро доставляют Вам еду
				.company-row
					.company-val 250
					.company-text Профессиональных сотрудника нашей компании, которые ежедневно делают все, чтобы Вы могли вкусно кушать в наших заведениях.
				.company-row
					.company-val 900 000
					.company-text Свыше 900 000 довольных клиентов в год, обслуживают наши кафе и служба доставки
				.company-row
					.company-val 1 000
					.company-text В год мы производим свыше 1000 килограмм одних только ролл!
					.company-get
						a(href="#").company-get__el В каталог блюд

		+addtext()

	.page-footer
		+footer()
include ./block_html/_script.pug
