include block_html/_style.pug
include block_html/_include.pug

+header()

.main-cont
	.bread-row
		.bread
			a(href="#").bread__el Главная
			.bread__el О нас
		a(href="#").page-nav
			.page-nav__icon
				+icon("circle-arrow--left","icon")
			.page-nav__text на главную

	.title Аппетитные суши и роллы с доставкой на дом
	.about-text Сеть кафе «Окинава» предлагает доступно заказать самые лучшие роллы и суши в Казани. Благодаря нам Вы можете наслаждаться невероятным вкусом свежеприготовленных блюд, не выходя из дома и Вам не придется тратить своё время на кухне. Профессиональные повара готовят только из качественных продуктов, а служба доставки оперативно доставит вкусную еду на дом или в офис в кротчайшие сроки. "Окинава" это вкусно, быстро и доступно.

	.title Наша компания в цифрах

	.company
		.company-row
			.company-val 8
			.company-text уютных кафе по Казани, с кухней, работающей на доставку общей площадью 1400 кв.м
			.company-get
				a(href="#").company-get__el Посмотреть кафе
		.company-row
			.company-val 130
			.company-text Автомобилей в нашем автопарке, которые ежедневно максимально быстро доставляют Вам еду
		.company-row
			.company-val 250
			.company-text Профессиональных сотрудника нашей компании, которые ежедневно делают все, чтобы Вы могли вкусно кушать в наших заведениях.
		.company-row
			.company-val 900 000
			.company-text Свыше 900 000 довольных клиентов в год, обслуживают наши кафе и служба доставки
		.company-row
			.company-val 1 000
			.company-text В год мы производим свыше 1000 килограмм одних только ролл!
			.company-get
				a(href="#").company-get__el В каталог блюд

	.add-text
		.add-text__col
			.add-text__col-title Впечатляющий ассортимент вкусных блюд
			p Наше меню включает:
			ul
				li классические и оригинальные виды суши с угрем, окунем, икрой тобико, лососем, тунцом, тигровой креветкой, курицей и пр.;
				li разнообразные классические роллы (рисом внутрь) и урамаки (рисом наружу), в том числе острые, запеченные, горячие;
				li аппетитные сеты для романтического ужина или вечеринки в большой компании.

			p Помимо блюд японской кухни мы с радостью приготовим для вас экзотические воки с разными начинками, ароматную пиццу, горячие и холодные супы, свежие и сытные салаты, нежные десерты.

			p Чтобы заказать суши и другие кушанья, зайдите в соответствующий раздел нашего меню. Каждый товар сопровождается фотографией, указанием состава ингредиентов, веса порции и стоимости. Кликните по плашке «Добавить в корзину» возле понравившихся суши. Скорректируйте количество порций и введите контактные данные. Наш менеджер свяжется с вами для подтверждения покупки.

		.add-text__col
			.add-text__col-title Преимущества заказа суши в «Окинаве»
			ul
				li Повара начинают готовить блюда только после вашего звонка.
				li Мы используем только отборные, свежие продукты.
				li Готовим суши по фирменной рецептуре.
				li Предлагаем приемлемую стоимость щедрых порций свежих блюд.
				li Регулярно проводим акции.
				li Гарантируем доставку с соблюдением всех технологий транспортировки, чтобы вы всегда получали свежую и теплую еду.
				li Располагаем собственным автопарком из 25 машин, что позволяет максимально оперативно развозить заказы по всему городу.
				li Покупки на сумму от 600 рублей доставляем за свой счет.
				li Возможен самовывоз из удобного для вас кафе нашей сети.

			p Мы первыми в Казани открыли службу доставки суши на дом или в офис и остаемся лидерами в этой сфере.

			p
				strong Всегда рады вашим заказам!
+footer()
include ./block_html/_script.pug
