include block_html/_style.pug
include block_html/_include.pug

.page
	.page-head
		+header()
	.page-content
		.main-cont
			.bread-row.bread-row--simple
				.bread
					a(href="#").bread__el Главная
					.bread__el Жаренный ролл с крабом и сыром
				a(href="#").page-nav
					.page-nav__icon
						+icon("arrow-back","icon")
					.page-nav__text на главную

			.goods
				.goods-img(style="background-image:url('img/sale-1.jpg')")
					.item-tag
						.item-tag__el.item-tag__el--purpur
							+icon("pizza","icon")
						.item-tag__el.item-tag__el--fire
							+icon("fire","icon")
						.item-tag__el.item-tag__el--veg
							+icon("veg","icon")
				.goods-cont
					.goods-title Жаренный ролл с крабом и сыром
					.goods-cond
						.goods-cond__el
							.goods-cond__icon
								+icon("diametr","icon")
							.goods-cond__text 30 см
						.goods-cond__el
							.goods-cond__icon
								+icon("weight","icon")
							.goods-cond__text 600 гр
						.goods-cond__el
							.goods-cond__icon
								+icon("kkal","icon")
							.goods-cond__text 1234 kcal
					//.soc-row
						a(href="#").soc-row__el
							+icon("soc-instagram","icon")
						a(href="#").soc-row__el
							+icon("soc-vk","icon")
					.goods-descr Снежный краб, угорь, сыр гауда, соус унаги
					.ingr-list
						- for (var i=0;i<9;i++)
							.ingr
								span Терияки
								+icon("close","icon")
						.basket-ingr-add.modal-get(data-modal="ingr")
							+icon("plus","icon")
					.goods-add
						- for (var i=0;i<5;i++)
							.goods-add__el
								.goods-add__icon
									+icon("snack","icon")
								.goods-add__text овощи
					.goods-consist-wrap
						.goods-consist
							.goods-consist__el
								.goods-consist__val 19
								.goods-consist__name белки, г
							.goods-consist__el
								.goods-consist__val 20,2
								.goods-consist__name жиры, г
							.goods-consist__el
								.goods-consist__val 78
								.goods-consist__name углеводы, г
							.goods-consist__el
								.goods-consist__val 370,6
								.goods-consist__name ккал

					.goods-footer
						.goods-cost
							.goods-cost__val 1598р
							.goods-cost__sale скидка <span> -100р</span>
						.goods-get купить

			.add-list-wrap
				.title--sm Рекомендуем также попробовать
				.add-list
					- for (var i=0;i<5;i++)
						+item-small()
			//sale
			.title Акции
			.sale-list
				- for (var i=1;i<7;i++)
					a(href="#" style="background-image:url('img/sale-" + i + ".jpg')").sale-list__el
						.sale-list__el-filter
						.sale-list__el-title
							span популярныe блюда с 13:00 до 16:00 по цене всего от 119 рублей
	.page-footer
		+footer()
include ./block_html/_script.pug
