include block_html/_style.pug
include block_html/_include.pug

.page
	.page-head
	+header()

	.main-slider
		.slider-wrap
			.slider-control-simple.slider-control--left
				+icon("circle-arrow--left","icon")
			.slider-control-simple.slider-control--right
				+icon("circle-arrow--right","icon")
			.slider.slider-item
				- for (var i=0;i<3;i++)
					a(href="#" style="background-image:url('img/slider-rds.jpg')").slider__el
		//.slider-footer
		//	.slider-footer__info за заказы можно получать бонусные баллы
		//	a(href="#").slider-footer__get узнать подробности
	.page-content
		.main-cont
			.catalog-filter.catalog-filter--main
				.catalog-filter__icon
					+icon("filter","icon")
				span Категории
			//tag-mobile
			.tag-mobile-wrap
				.tag-mobile
					.tag-mobile__el.tag-mobile__el--toggle(style="background-image:url('img/japan.jpg')")
						.tag-mobile__filter
						.tag-mobile__title
							span японская <br> кухня
					.tag-mobile__drop
						a(href="#" style="background-image:url('img/sushi.jpg')").tag-mobile__el
							.tag-mobile__filter
							.tag-mobile__title
								span суши
						a(href="#" style="background-image:url('img/sets.jpg')").tag-mobile__el
							.tag-mobile__filter
							.tag-mobile__title
								span сэты
						a(href="#" style="background-image:url('img/zhar_rolls.jpg')").tag-mobile__el
							.tag-mobile__filter
							.tag-mobile__title
								span жаренные роллы
						a(href="#" style="background-image:url('img/osn_rolls.jpg')").tag-mobile__el
							.tag-mobile__filter
							.tag-mobile__title
								span основные роллы
						a(href="#" style="background-image:url('img/ostr_rolls.jpg')").tag-mobile__el
							.tag-mobile__filter
							.tag-mobile__title
								span острые роллы
						a(href="#" style="background-image:url('img/zap_rolls.jpg')").tag-mobile__el
							.tag-mobile__filter
							.tag-mobile__title
								span запеченные роллы
						a(href="#" style="background-image:url('img/classic_rolls.jpg')").tag-mobile__el
							.tag-mobile__filter
							.tag-mobile__title
								span классические роллы
					a(href="#" style="background-image:url('img/gorjachie.jpg')").tag-mobile__el
						.tag-mobile__filter
						.tag-mobile__title
							span горячие закуски
					a(href="#" style="background-image:url('img/pizza.jpg')").tag-mobile__el
						.tag-mobile__filter
						.tag-mobile__title
							span пицца
					a(href="#" style="background-image:url('img/deserts.jpg')").tag-mobile__el
						.tag-mobile__filter
						.tag-mobile__title
							span десерты
					a(href="#" style="background-image:url('img/wok.jpg')").tag-mobile__el
						.tag-mobile__filter
						.tag-mobile__title
							span wok
					a(href="#" style="background-image:url('img/soup.jpg')").tag-mobile__el
						.tag-mobile__filter
						.tag-mobile__title
							span супы
					a(href="#" style="background-image:url('img/salat.jpg')").tag-mobile__el
						.tag-mobile__filter
						.tag-mobile__title
							span салаты
					a(href="#" style="background-image:url('img/drinks.jpg')").tag-mobile__el
						.tag-mobile__filter
						.tag-mobile__title
							span напитки
					a(href="#" style="background-image:url('img/souces.jpg')").tag-mobile__el
						.tag-mobile__filter
						.tag-mobile__title
							span соусы
			//tag-mobile===end
			//tags
			.tag-wrap
				.tag
					.tag__el.tag__el-drop.tag__el--full
						.tag__el-icon
							+icon('set-suchi',"icon")
						.tag__el-text японская кухня
					.tag__el-sub-wrap
						.tag__el-sub
							-
								var items = [
									'суши',
									'сэты',
									'жаренные роллы',
									'основные роллы',
									'острые роллы',
									'запеченные роллы',
									'классические роллы'
									];
							each item in items
								a(href="#").tag__el-sub__el #{item}
					-
						var items = [
								{"icon":"sushi","name":"суши","class":"tag__el--red tag__el--hidden"},
								{"icon":"snack","name":"горячие закуски","class":"tag__el--fiolet tag__el--full"},
								{"icon":"pizza","name":"пицца","class":"tag__el--purpur tag__el--full"},
								{"icon":"set","name":"сеты","class":"tag__el--blue tag__el--hidden"},
								{"icon":"roll","name":"роллы","class":"tag__el--sky tag__el--hidden"},
								{"icon":"cake","name":"десерты","class":"tag__el--green"},
								{"icon":"wok","name":"блюда wok","class":"tag__el--grass"},
								{"icon":"supe","name":"супы","class":"tag__el--yellow"},
								{"icon":"salad","name":"салаты","class":"tag__el--orange"},
								{"icon":"drink","name":"напитки","class":"tag__el--rose"},
								{"icon":"sauce","name":"соусы","class":"tag__el--gray"}
							];
					each item in items
						a(href="#" class="tag__el "+item.class)
							.tag__el-icon
								+icon(item.icon,"icon")
							.tag__el-text #{item.name}


			//list items
			.title.title--list
				span Популярные товары
				a(href="#").title__more показать все

			.items
				- for (var i=0;i<3;i++)
					+item()
				.banner-bonus
					.banner-bonus__text за заказы можно получать бонусные баллы
					a(href="#").banner-bonus__get узнать подробности
				- for (var i=0;i<9;i++)
					+item()
			//sale
			.title Акции
			.sale-list
				- for (var i=1;i<7;i++)
					a(href="#" style="background-image:url('img/sale-"+i+".jpg')").sale-list__el
						.sale-list__el-filter
						.sale-list__el-title
							span популярныe блюда с 13:00 до 16:00 по цене всего от 119 рублей

			//advant
			.advant
				.advant__el
					.advant__el-icon
						+icon("like","icon")
					.advant__el-text Сытные порции
				.advant__el
					.advant__el-icon
						+icon("leaflet","icon")
					.advant__el-text Только свежие продукты
				.advant__el
					.advant__el-icon
						+icon("car","icon")
					.advant__el-text Быстрая доставка
				.advant__el
					.advant__el-icon
						+icon("pig","icon")
					.advant__el-text Доступные цены
				.advant__el
					.advant__el-icon
						+icon("heart","icon")
					.advant__el-text Готовим с любовью

			//position
			.position
				.position-info
					.position-title Мы вас очень ждём в наших заведениях
					.position-list
						a(href="#").position-list__el
							span ул. Глушко, д. 17а
						a(href="#").position-list__el
							span пр. Ямашева, д. 82
						a(href="#").position-list__el
							span ул. Университетская, д. 10
						- for (var i=0;i<3;i++)
							a(href="#").position-list__el
								span ул. Глушко, д. 17а
							a(href="#").position-list__el
								span пр. Ямашева, д. 82
					a(href="#").position-list__all показать все
					.slide-trigger.slide-trigger--position
						span.slide-trigger--true развернуть
						span.slide-trigger--false свернуть
				.position-img
						.slider-wrap
							.slider-control-simple.slider-control--left
								+icon("circle-arrow--left","icon")
							.slider-control-simple.slider-control--right
								+icon("circle-arrow--right","icon")
							.position-slider.slider-item
								- for (var i=0;i<3;i++)
									a(href="#" style="background-image:url('img/cafe.jpg')").position-slider__el

			//review
			.title.title--list.title--list-review
				span Отзывы клиентов
				a(href="#").title__more показать все
			.review-slider__control
				.review-slider__control-el.review-slider__control-el--left
					+icon("circle-arrow--left","icon")
				a(href="#").review-slider__all  показать все
				.review-slider__control-el.review-slider__control-el--right
					+icon("circle-arrow--right","icon")
			.review.review--treeple.slider-mobile
				- for (var i=1;i<5;i++)
					.review__el
						.review-star
							- for (var j=0;j<4;j++)
								.review-star__el
									+icon("star","icon")
							.review-star__el.review-star__el--empty
								+icon("star","icon")
						.review__el-img
							.review__el-img-el(style="background-image:url('img/review-"+i+".jpg')")
							.review__el-img-el(style="background-image:url('img/review-"+i+".jpg')")
							.review__el-img-el(style="background-image:url('img/review-"+i+".jpg')")
						.review__el-content
							.review__el-title Вероника
							.review__el-text Очень вкусные роллы!! Нам понравились. И упакованы хорошо. Доставка вовремя. Будем заказывать ещё)
			+addtext()

	.page-footer
		+footer()
include ./block_html/_script.pug
