include block_html/_style.pug
include block_html/_include.pug

.page
	.page-head
		+header()
	.page-content
		.main-cont
			.bread-row
				.bread-title Заголовок
				.bread
					a(href="#").bread__el Главная
					.bread__el Доставка и оплата
				a(href="#").page-nav
					.page-nav__icon
						+icon("arrow-back","icon")
					.page-nav__text на главную
			.title.title--mobile
				span Доставка и оплата
		.main-cont
			.deliver-list
				.deliver-list__el.deliver-list__el--active
					.deliver-list__title Режим работы
					.deliver-list-wrap
						.deliver-list-col
							.deliver-list-col__title Доставка
							.deliver-list-col__text 10.00 - 01.00 (Вс - Чт)
							.deliver-list-col__text 10.00 - 02.00 (Пт - Сб)
				.deliver-list__el
					.deliver-list__title 60 минуты
					.deliver-list__title-sub Среднее время доставки
					.deliver-list__title-text Наши кафе в каждом районе города

				.deliver-list__el
					.deliver-list__title Бесплатная доставка
					.deliver-list__title-sub При заказе от 600 руб.
					.deliver-list__title-text Минимальная сумма заказа 300 рублей

			.deliver-map
				.deliver-map__item
					.deliver-map__item-el map
				.deliver-map__col
					.deliver-map__col-item
						.title--sm Зона доставки
						.deliver-map__text Если Вы не нашли на карте место, в которое хотите заказать еду: уточните подробности о доставке у оператора по номеру:
						.deliver-map__phone 8 (843) 233 44 33
					.deliver-map__col-item
						.title--sm Оплата заказа
						.deliver-map__text Оплатить заказ можно <strong>онлайн</strong> и <strong>наличными</strong>. Доставка или выдача при самовывозе товара, оплаченного пластиковой картой, осуществляется от времени зачисления денег на счет компании.

						.deliver-payment-wrap
							.deliver-payment
								+icon("visa--color","icon")
								+icon("mc--color","icon")
								+icon("mir--color","icon")
			.deliver-note
				.deliver-note__el
					.deliver-note__icon
						+icon("delivery-man","icon")
					.deliver-note__text В случае, если по приезду курьера с доставкой Клиент не выходит на связь или не открывает дверь, курьер обязан подождать 10 мин. После чего он уезжает. Время повторной доставки с Вашим заказом обговаривается с администратором.
				.deliver-note__el
					.deliver-note__icon
						+icon("deliver","icon")
					.deliver-note__text В случае, когда Клиент оплатил заказ и не забрал его по каким-либо причинам в течение 2-х часов, деньги за заказ не возвращаются. Сам заказ утилизируется, за истечением срока годности.
				.deliver-note__el
					.deliver-note__icon
						+icon("operator","icon")
					.deliver-note__text При заказе от 3000 руб. и выше оператор вправе попросить предоплату с Клиента, удобным для него способом. Время доставки заказа осуществляется с момента внесения предоплаты.
	.page-footer
		+footer()
include ./block_html/_script.pug
