include block_html/_style.pug
include block_html/_include.pug

.page
	.page-head
		+header()
	.page-content
		.main-cont
			.bread-row.bread-row--simple
				.bread
					a(href="#").bread__el Главная
					.bread__el Акции
			.discount-item
				.discount-item__img(style="background-image:url('img/sale-banner.jpg')")
				.discount-item-wrap
					.discount-item-info.content
						.discount-item-title Популярные блюда с 13 до 16 по цене всего от 119 рублей
						p Акция ежемесячная по будням, кроме праздничных дней.
						p Акция действует в будни с 13:00 до 16:00. Осуществить заказ блюд по акции в другое время невозможно. Действует на самовывоз, доставку и в зале. Не действует в праздничные и предпраздничные дни.
					.discount-soc
						.soc-wrap
							.soc-wrap-text Поделиться в соцсетях:
							.soc-row
								a(href="#").soc-row__el
									+icon("soc-instagram","icon")
								a(href="#").soc-row__el
									+icon("soc-vk","icon")
			.add-list-wrap
				.title--sm Рекомендуем также попробовать
				.add-list
					- for (var i=0;i<5;i++)
						+item-small()
	.page-footer
		+footer()
include ./block_html/_script.pug
