mixin footer()
	.main-cont
		.footer
			.footer-top
				.footer-top__el.footer-top__el--payment
					span Принимаем к оплате
					img(src="img/payment.svg", alt="")
				.footer-top__el Бесплатная доставка от 600 рублей
				.footer-top__el Время доставки до 45 минут
				.footer-top__el.footer-top__el--location
					+icon("location","icon")
					a(href="#") Зона доставки
			.footer-main
				.footer-info
					.footer-copyright © 2018 «Окинава»
					a(href="#").footer-info__link
						span Политика конфединциальности
					a(href="#").footer-info__link
						span Публичная оферта
				.footer-list
					.footer-menu
						a(href="#").footer-menu__el Доставка
						a(href="#").footer-menu__el Акции
						a(href="#").footer-menu__el Отзывы
						a(href="#").footer-menu__el Кафе
						a(href="#").footer-menu__el Вакансии
						a(href="#").footer-menu__el Контакты
					p Реклама и сотрудничество:
						a(href="mailto:marketolog@okinavakazan.ru") marketolog@okinavakazan.ru
					p Для коммерческих предложений:
						a(href="mailto:commerce@okinavakazan.ru") commerce@okinavakazan.ru
				.footer-adress   
					.footer-contact   
						a(href="tel:8 (843) 233 44 33").footer-phone 8 (843) 233 44 33
						.soc-row
							a(href="#").soc-row__el
								+icon("soc-instagram","icon")
							a(href="#").soc-row__el
								+icon("soc-vk","icon")
					.create 
						span Сайт создан в
						img(src="img/jq.png", alt="")

	//block footer
	.modal-layer
		.modal-filter
		.modal-wrap
			.modal(data-modal="order")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Оставьте заявку
					.modal-text Обращаетесь к нам впервые? <br> Оформите обращение с помощью этой формы, мы перезвоним Вам и проконсультируем по любому Вашему вопросу совершенно бесплатно!
					form.validate-form( action="javascript:void(null);")
						.input-row
							input(type="text" name="name" placeholder="Ваше имя").input
						.input-row
							input(type="text" name="phone" placeholder="Ваш телефон").input
						.input-row
							textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
						.agree-row
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox" name="agree").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text=text
							.agree-row__text Согласен с
								a(href="#") условиями обработки персональных данных
						input(type="submit" value="Отправить заявку").modal-send
			//success message
			.modal(data-modal="truemessage")
				.modal-content.modal-content--true
					+icon("interface","icon")
					.modal-text-true Ваша заявка принята
	//block footer end