mixin footer()
	.main-cont
		.footer
			.footer-top
				.footer-top__el.footer-top__el--payment
					span Принимаем к оплате
					img(src="img/payment.svg", alt="")
				.footer-top__el Бесплатная доставка от 600 рублей
				.footer-top__el Время доставки до 45 минут
				.footer-top__el.footer-top__el--location
					+icon("location","icon")
					a(href="#") Зона доставки
			.footer-main
				.footer-info
					.footer-copyright © 2018 «Окинава»
					a(href="#").footer-info__link
						span Политика конфединциальности
					a(href="#").footer-info__link
						span Публичная оферта
				.footer-list
					.footer-menu
						a(href="#").footer-menu__el Доставка
						a(href="#").footer-menu__el Акции
						a(href="#").footer-menu__el Отзывы
						a(href="#").footer-menu__el Кафе
						a(href="#").footer-menu__el Вакансии
						a(href="#").footer-menu__el Контакты
					p Реклама и сотрудничество:
						a(href="mailto:marketolog@okinavakazan.ru") marketolog@okinavakazan.ru
					p Для коммерческих предложений:
						a(href="mailto:commerce@okinavakazan.ru") commerce@okinavakazan.ru
				.footer-adress   
					.footer-contact   
						a(href="tel:8 (843) 233 44 33").footer-phone 8 (843) 233 44 33
						.soc-row
							a(href="#").soc-row__el
								+icon("soc-instagram","icon")
							a(href="#").soc-row__el
								+icon("soc-vk","icon")
					.create 
						span Сайт создан в
						img(src="img/jq.png", alt="")
	.footer-mobile
		a(href="#").footer-mobile__logo
			img(src="img/logo-main-small.svg", alt="")
		a(href="tel:8 (843) 233 44 33").footer-mobile__phone 8 (843) 233 44 33
		a(href="#").footer-mobile__jq
			img(src="img/logo-jq-small.svg", alt="")

	//block footer
	.modal-layer
		.modal-filter
		.modal-wrap
			//review
			.modal(data-modal="review")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Добавление отзыва
					.get-rating
						.get-rating-text Ваша оценка
						.star-row.star-row--red
							- for (var i=1;i<6;i++)
								.star-row__el
									+icon("star","icon")
					form(action="javascript:void(null);")
						.input-row
							input(type="text" name="name" placeholder="Ваше имя").input
						.input-row
							input(type="text" name="phone" placeholder="Телефон или e-mail").input
						.input-row
							textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
						.agree-row
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox" name="agree").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text=text
							.agree-row__text Согласен с
								a(href="#") условиями обработки персональных данных
						.upload-wrap
							.upload-img
							label.upload
								.upload__icon
									+icon("upload","icon")
								.upload__text Прикрепить фото
								input(type="file").upload-btn
						input(type="submit" value="Отправить заявку" data-modal="truemessage").modal-send.modal-get
			//review === end
			.modal(data-modal="order")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Оставьте заявку
					.modal-text Обращаетесь к нам впервые? <br> Оформите обращение с помощью этой формы, мы перезвоним Вам и проконсультируем по любому Вашему вопросу совершенно бесплатно!
					form.validate-form( action="javascript:void(null);")
						.input-row
							input(type="text" name="name" placeholder="Ваше имя").input
						.input-row
							input(type="text" name="phone" placeholder="Ваш телефон").input
						.input-row
							textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
						.agree-row
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox" name="agree").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text=text
							.agree-row__text Согласен с
								a(href="#") условиями обработки персональных данных
						input(type="submit" value="Отправить заявку").modal-send
			//success message
			.modal(data-modal="truemessage")
				.modal-content.modal-content--true
					.modal-close
						+icon("close-fat","icon")
					.modal-title Отлично!
					.modal-text Спасибо за Ваш отзыв, мы ценим внимание каждого клиента
					+icon("success--color","icon icon-true")
					.modal-btn-close.hide-modal Продолжить

			.modal(data-modal="adress")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Добавить адрес
					form( action="#")
						.select-city
						.input-row
							input(type="text" name="name" placeholder="Улица").input
						.input-row-half
							.input-wrap
								input(type="text" name="name" placeholder="Дом").input
							.input-wrap
								input(type="text" name="name" placeholder="Квартира").input
						.input-row-half
							.input-wrap
								input(type="text" name="name" placeholder="Подъезд").input
							.input-wrap
								input(type="text" name="name" placeholder="Этаж").input
						.input-row
							input(type="text" name="name" placeholder="Подпись (например: работа)").input
						input(type="submit" value="Cохранить").modal-send

			//modal profile-edit
			.modal(data-modal="profile-edit")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Изменить профиль
					form( action="#")
						.select-city
						.input-row
							.input-row__title Имя
							input(type="text" name="name"  value="Александр").input
						.input-row
							.input-row__title Телефон:
							input(type="text" name="name"  value="+7 923 666 7667").input
						.input-row
							.input-row__title День рождения:
							input(type="text" name="name"  value="30.20.1982").input
						input(type="submit" value="Cохранить").modal-send
			//modal profile-edit === end

			//modal adres-edit
			.modal(data-modal="adress-edit")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Изменить адрес
					form( action="#")
						.select-city
						.input-row
							.input-row__title Улица
							input(type="text" name="name"  value="Ленина").input
						.input-row-half
							.input-wrap
								.input-row__title Улица
								input(type="text" name="name"  value="14").input
							.input-wrap
								.input-row__title Квартира
								input(type="text" name="name"  value="35").input
						.input-row-half
							.input-wrap
								.input-row__title Подъезд
								input(type="text" name="name"  value="2").input
							.input-wrap
								.input-row__title Этаж
								input(type="text" name="name"  value="17").input
						.input-row
							.input-row__title Подпись (например: работа)
							input(type="text" name="name" placeholder="Подпись (например: работа)" value="Дом").input
						input(type="submit" value="Cохранить").modal-send
			//modal adres-edit === end

			//modal-mail
			.modal(data-modal="mail")
				.modal-content.modal-content--mail
					.modal-close
						+icon("close-fat","icon")
					.modal-title Добавить e-mail
					form( action="#")
						.input-row.input-row--add-mail
							input(type="text" name="name" placeholder="Ваша почта").input
						input(type="submit" value="Cохранить").modal-send
			//modal-mail === end

			//ingr
			.modal.modal--lg(data-modal="ingr")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Добавь любой ингредиент на свой вкус
					- for (var i=0;i<4;i++)
						.add-ingr-row
							.add-ingr__head
								.add-ingr__title Соусы
								.add-ingr__text можно выбрать только 1 соус
							.add-ingr__list
								- for (var j=0;j<5;j++)
									.add-ingr__el
										.incr__minus.incr__nav
											+icon("minus","icon")
										.incr__val
											span 1
											.incr__val-count шт.
										.add-ingr__el-img(style="background-image:url('img/snack.jpg')")
										.add-ingr__el-name Тартар
										.add-ingr__el-weight 50г
										.add-ingr__el-price 30р
										.incr__plus.incr__nav
											+icon("plus","icon")
					.add-ingr-footer
						.add-ingr-cost
							.add-ingr-cost__text Сумма:
							.add-ingr-cost__val 1598р
							.add-ingr-item  у вас 2 ингридиента
						.add-ingr-clear Cбросить выбор
						.add-ingr-get Cохранить
			//ingr === end

			//modal getcafe
			.modal(data-modal="getcafe")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Забронировать столик
					form(action="#")
						.input-row
							select.select-beauty
								option ул. Университетская, д. 10
								option ул. Университетская, д. 11
								option ул. Университетская, д. 12
						.input-row
							input(type="text" placeholder="Имя" class="input")
						.input-row
							input(type="text" placeholder="Телефон" class="input")
						.input-row
							input(type="text" placeholder="Дата бронирования" class="input")
						.input-row-half
							.input-wrap
								select.select-beauty
									option 10:00
									option 10:30
									option 11:00
									option 10:00
									option 10:30
									option 11:00
							.input-wrap
								select.select-beauty
									option 1 чел
									option 2 чел
									option 3 чел
						.input-row
							textarea(name="info", cols="30", rows="10" placeholder="Сопроводительное письмо" class="input")
						input(type="submit" value="Отправить" class="btn--md btn--mark btn--full modal-send")
			//modal getcafe === end

			//cart
			.modal.modal--lg.modal--cart(data-modal="cart")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Ваша корзина
					.basket-wrap
						.basket-list
							- for (var j=0;j<8;j++)
								.basket-el
									.basket-el__img(style="background-image:url('img/card-image-1.jpg')")
									.basket-el__info
										a(href="#").basket-el__title
											span Жаренный ролл с х/к лососем и креветкой
										.ingr-list
											.ingr
												span Терияки
												+icon("close","icon")
											.basket-ingr-add.modal-get(data-modal="ingr")
												+icon("plus","icon")
									.basket-el__incr
										+incr()
									.basket-el__price 1299р
									.basket-el__remove
										+icon("garbage","icon")
							.basket-empty.basket-empty--hidden
								.basket-empty__icon
									+icon("cart","icon")
								.basket-empty__title Ваша корзина пуста =(
								.basket-empty__text Добавьте что-нибудь из меню
								a(href="#").basket-empty__get Вернуться в меню
							.snacks
								.snacks-text На каждые 500 рублей идёт бесплатная порция имбиря и васаби
								- for (var i=0;i<2;i++)
									.snacks-row
										.snacks-row__img(style="background-image:url('img/snack.jpg')")
										.snacks-row__number x 3
										a(href="#").snacks-row__name
											span Васаби
										.snacks-row__text бесплатно
										.snacks-row__remove
											+icon("garbage","icon")
						.basket-info
							.basket-cost
								.basket-title сумма заказа
								.basket-price 1498р
								.basket-sale
									.basket-sale__text скидка
									.basket-sale__val -100р
							.basket-promo
								//toggle class .basket-promo__input--true .basket-promo__input--false
								.basket-promo__input
									+icon("checked","icon icon-true")
									+icon("close","icon icon-false")
									form(action="#")
										input(type="text" placeholder="промокод" class="input")
							.basket-descr Вячеслав, на вашем счету 250 бонусных баллов, которые вы можете потратить на заказ
							.basket-enter
								span.basket-auth Войдите или зарегистрируйтесь
								| чтобы иметь возможность получить кешбек от заказа в виде балов.
							.basket-code
								form(action="#")
									input(type="text" placeholder="Сколько баллов тратим?" class="input")
							a(href="#").basket-deliver
								span Условия доставки и оплаты
							.basket-get оформить заказ
			//cart === end

			//cart
			.modal.modal--lg.modal--cart(data-modal="addsale")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Минимальная сумма заказа 1000 рублей
					.modal-text Предлагаем вам еще добрать товаров к этой сумме
					.add-list
						- for (var i=0;i<5;i++)
							+item-small()
			//cart === end
	//block footer end