mixin footer()
	.main-cont
		.footer
			.footer-top
				.footer-top__el.footer-top__el--payment
					span Принимаем к оплате
					img(src="img/payment.svg", alt="")
				.footer-top__el Бесплатная доставка от 600 рублей
				.footer-top__el Время доставки до 45 минут
				.footer-top__el.footer-top__el--location
					+icon("location","icon")
					a(href="#") Зона доставки
			.footer-main
				.footer-info
					.footer-copyright © 2018 «Окинава»
					a(href="#").footer-info__link
						span Политика конфединциальности
					a(href="#").footer-info__link
						span Публичная оферта
				.footer-list
					.footer-menu
						a(href="#").footer-menu__el Доставка
						a(href="#").footer-menu__el Акции
						a(href="#").footer-menu__el Отзывы
						a(href="#").footer-menu__el Кафе
						a(href="#").footer-menu__el Вакансии
						a(href="#").footer-menu__el Контакты
					p Реклама и сотрудничество:
						a(href="mailto:marketolog@okinavakazan.ru") marketolog@okinavakazan.ru
					p Для коммерческих предложений:
						a(href="mailto:commerce@okinavakazan.ru") commerce@okinavakazan.ru
				.footer-adress   
					.footer-contact   
						a(href="tel:8 (843) 233 44 33").footer-phone 8 (843) 233 44 33
						.soc-row
							a(href="#").soc-row__el
								+icon("soc-instagram","icon")
							a(href="#").soc-row__el
								+icon("soc-vk","icon")
					.create 
						span Сайт создан в
						img(src="img/jq.png", alt="")
	.footer-mobile
		a(href="#").footer-mobile__logo
			img(src="img/logo-main-small.svg", alt="")
		a(href="tel:8 (843) 233 44 33").footer-mobile__phone 8 (843) 233 44 33
		a(href="#").footer-mobile__jq
			img(src="img/logo-jq-small.svg", alt="")

	//block footer
	.modal-layer
		.modal-filter
		.modal-wrap
			//review
			.modal(data-modal="review")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Добавление отзыва
					.get-rating
						.get-rating-text Ваша оценка
						.star-row.star-row--red
							- for (var i=1;i<6;i++)
								.star-row__el
									+icon("star","icon")
					form(action="javascript:void(null);")
						.input-row
							input(type="text" name="name" placeholder="Ваше имя").input
						.input-row
							input(type="text" name="phone" placeholder="Телефон или e-mail").input
						.input-row
							textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
						.agree-row
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox" name="agree").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text=text
							.agree-row__text Согласен с
								a(href="#") условиями обработки персональных данных
						.upload-wrap
							.upload-img
							label.upload
								.upload__icon
									+icon("upload","icon")
								.upload__text Прикрепить фото
								input(type="file").upload-btn
						input(type="submit" value="Отправить заявку" data-modal="truemessage").modal-send.modal-get
			//review === end
			.modal(data-modal="order")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Оставьте заявку
					.modal-text Обращаетесь к нам впервые? <br> Оформите обращение с помощью этой формы, мы перезвоним Вам и проконсультируем по любому Вашему вопросу совершенно бесплатно!
					form.validate-form( action="javascript:void(null);")
						.input-row
							input(type="text" name="name" placeholder="Ваше имя").input
						.input-row
							input(type="text" name="phone" placeholder="Ваш телефон").input
						.input-row
							textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
						.agree-row
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox" name="agree").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text=text
							.agree-row__text Согласен с
								a(href="#") условиями обработки персональных данных
						input(type="submit" value="Отправить заявку").modal-send
			//success message
			.modal(data-modal="truemessage")
				.modal-content.modal-content--true
					.modal-close
						+icon("close-fat","icon")
					.modal-title Отлично!
					.modal-text Спасибо за Ваш отзыв, мы ценим внимание каждого клиента
					+icon("success--color","icon icon-true")
					.modal-btn-close.hide-modal Продолжить

			.modal(data-modal="adress")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Добавить адрес
					form( action="#")
						.select-city
						.input-row
							input(type="text" name="name" placeholder="Улица").input
						.input-row-half
							.input-wrap
								input(type="text" name="name" placeholder="Дом").input
							.input-wrap
								input(type="text" name="name" placeholder="Квартира").input
						.input-row-half
							.input-wrap
								input(type="text" name="name" placeholder="Подъезд").input
							.input-wrap
								input(type="text" name="name" placeholder="Этаж").input
						.input-row
							input(type="text" name="name" placeholder="Подпись (например: работа)").input
						input(type="submit" value="Cохранить").modal-send

			//modal profile-edit
			.modal(data-modal="profile-edit")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Изменить профиль
					form( action="#")
						.select-city
						.input-row
							.input-row__title Имя
							input(type="text" name="name"  value="Александр").input
						.input-row
							.input-row__title Телефон:
							input(type="text" name="name"  value="+7 923 666 7667").input
						.input-row
							.input-row__title День рождения:
							input(type="text" name="name"  value="30.20.1982").input
						input(type="submit" value="Cохранить").modal-send
			//modal profile-edit === end

			//modal adres-edit
			.modal(data-modal="adress-edit")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Изменить адрес
					form( action="#")
						.select-city
						.input-row
							.input-row__title Улица
							input(type="text" name="name"  value="Ленина").input
						.input-row-half
							.input-wrap
								.input-row__title Улица
								input(type="text" name="name"  value="14").input
							.input-wrap
								.input-row__title Квартира
								input(type="text" name="name"  value="35").input
						.input-row-half
							.input-wrap
								.input-row__title Подъезд
								input(type="text" name="name"  value="2").input
							.input-wrap
								.input-row__title Этаж
								input(type="text" name="name"  value="17").input
						.input-row
							.input-row__title Подпись (например: работа)
							input(type="text" name="name" placeholder="Подпись (например: работа)" value="Дом").input
						input(type="submit" value="Cохранить").modal-send
			//modal adres-edit === end

			//modal-mail
			.modal(data-modal="mail")
				.modal-content.modal-content--mail
					.modal-close
						+icon("close-fat","icon")
					.modal-title Добавить e-mail
					form( action="#")
						.input-row.input-row--add-mail
							input(type="text" name="name" placeholder="Ваша почта").input
						input(type="submit" value="Cохранить").modal-send
			//modal-mail === end

			//ingr
			.modal.modal--lg(data-modal="ingr")
				.modal-content
					.modal-close
						+icon("close-fat","icon")
					.modal-title Добавь любой ингредиент на свой вкус
					- for (var i=0;i<4;i++)
						.add-ingr-row
							.add-ingr__head
								.add-ingr__title Соусы
								.add-ingr__text можно выбрать только 1 соус
							.add-ingr__list
								- for (var j=0;j<5;j++)
									.add-ingr__el
										.incr__minus.incr__nav
											+icon("minus","icon")
										.incr__val
											span 1
											.incr__val-count шт.
										.add-ingr__el-img(style="background-image:url('img/snack.jpg')")
										.add-ingr__el-name Тартар
										.add-ingr__el-weight 50г
										.add-ingr__el-price 30р
										.incr__plus.incr__nav
											+icon("plus","icon")
					.add-ingr-footer
						.add-ingr-cost
							.add-ingr-cost__text Сумма:
							.add-ingr-cost__val 1598р
							.add-ingr-item  у вас 2 ингридиента
						.add-ingr-clear Cбросить выбор
						.add-ingr-get Cохранить
	//block footer end