-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'О нас',
			'href':'about'
		},
		{
			'name':'Контакты',
			'href':'contacts'
		},
		{
			'name':'Отзывы',
			'href':'review'
		},
		{
			'name':'Кабинет',
			'href':'lk'
		},
		{
			'name':'Вакансии список',
			'href':'vacancy-list'
		},
		{
			'name':'Вакансии подробная',
			'href':'vacancy-item'
		},
		{
			'name':'Скидки список',
			'href':'sale-list'
		},
		{
			'name':'Скидки подробная',
			'href':'sale'
		}
	]

