-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'О нас',
			'href':'about'
		},
		{
			'name':'Контакты',
			'href':'contacts'
		},
		{
			'name':'Отзывы',
			'href':'review'
		},
		{
			'name':'Кабинет',
			'href':'lk'
		}
	]

