mixin header()
	//block header
	.head
		.main-cont
			.head-top
				.head-location
					.drop
						.drop__icon
							+icon("arrow-down","icon")
						.drop__current Санкт-Петербург
						.drop-container.drop-container--town
							.drop-container-wrap
								a(href="#").drop-container__el Москва
								a(href="#").drop-container__el Смоленск
								a(href="#").drop-container__el Казань
								a(href="#").drop-container__el Великий новгород
				.head-top-nav
					-
						var items = [
							'Доставка',
							'Акции',
							'Отзывы',
							'Кафе',
							'Вакансии',
							'Контакты'
							];
					each item in items
						a(href="#").head-top-nav__el #{item}
				.head-soc
					.soc-row
						a(href="#").soc-row__el
							+icon("soc-instagram","icon")
						a(href="#").soc-row__el
							+icon("soc-vk","icon")
				//toggle class .login--false .login--true
				.login.login--true
					.login-drop-toggle.login-enter
						.login-enter-mobile
							+icon("profile","icon")
						span.login-enter-mobile-text Вход в личный кабинет
					a(href="#").login-auth
						.login-auth__icon
							+icon("profile","icon")
							.login-auth__icon-check
								+icon("checked","icon")
						.login-auth__name Константин
						.login-auth__bonus +140 Б
					.login-drop-wrap
						.login-drop
							.login-drop__head
								.login-toggle.login-switch.login-toggle--active(data-switch='enter') Вход
								.login-toggle.login-switch(data-switch='registration') Регистрация

							//enter form
							.login-wrap.login-wrap--active(data-cont='enter')
								form(action="#").login-form
									input(type="text" placeholder="Электр. почта/Телефон" class="input")
									input(type="text" placeholder="Пароль" class="input")
									input(type="submit" value="Войти" class="btn--md btn--mark")
								.login-remember
									+checkbox('Запомнить меня')
								.login-fogot.login-switch(data-switch='fogot') Забыли пароль?
								.login-soc
									.login-soc__text Войти с помощью соц. сетей
									.login-soc-row
										a(href="#").login-soc-el
											+icon("vk--color","icon")
										a(href="#").login-soc-el
											+icon("facebook--color","icon")

							//registration form
							.login-wrap.login-wrap--registration(data-cont='registration')
								form(action="#").login-form
									input(type="text" placeholder="Имя" class="input")
									input(type="text" placeholder="Телефон" class="input")
									input(type="text" placeholder="E-mail" class="input")
									input(type="password" placeholder="Пароль" class="input")
									input(type="password" placeholder="Повторить пароль" class="input")
									.login-remember
										+checkbox('Соглашаюсь с условиями обработки персональных данных')
									input(type="submit" value="Войти" class="btn--md btn--mark")
								.login-soc
									.login-soc__text Зарегистрироваться с помощью соц. сетей
									.login-soc-row
										a(href="#").login-soc-el
											+icon("vk--color","icon")
										a(href="#").login-soc-el
											+icon("facebook--color","icon")
							//registration form
							.login-wrap.login-wrap--registration(data-cont='fogot')
								form(action="#").login-form
									input(type="text" placeholder="Электр. почта" class="input")
									.login-btn-code.login-switch(data-switch='code') Отправить код
							.login-wrap.login-wrap--registration(data-cont='code')
								.login-code-text Вам на e-mail/телефон отправлен код подтверждения
								form(action="#").login-form
									input(type="text" placeholder="Введите код" class="input")
									.login-btn-code Подтвердить
									.login-btn-recode Выслать повторно
									.login-btn-back.login-switch(data-switch='fogot') Назад к восстановлению

			.head-info
				a(href="#").logo
					img(src="img/logo.svg", alt="")
				a(href="tel:8 (843) 233 44 33").head-phone 8 (843) 233 44 33
				.work-time
					.drop
						.drop__icon
							+icon("arrow-down","icon")
						.drop__current мы работаем с 10 до 24
						.drop-container.drop-container--town
							.drop-container-wrap
								a(href="#").drop-container__el Москва
								a(href="#").drop-container__el Смоленск
								a(href="#").drop-container__el Казань
								a(href="#").drop-container__el Великий новгород

				form(action="").header-search
					.header-search-wrap
						.header-search-icon
							+icon("serch","icon")
							input(type="text" placeholder="Активный поиск" class="input input-search")
	.head-main-wrap
		.main-cont
			.head-main
				.head-toggle
					+icon("menu","icon icon-open")
					+icon("close","icon icon-close")

				a(href="/").head-main-logo
					img(src="img/logo.svg", alt="")
				.head-nav
					-
						var items = [
							'суши',
							'горячие закуски',
							'пицца',
							'сеты',
							'роллы',
							'десерты',
							'блюда wok',
							'супы',
							'салаты',
							'напитки',
							'соусы'
							];
					each item in items
							if (item === 'роллы')
								.head-nav__el-wrap
									a(href="#").head-nav__el
										+icon("arrow-down","icon")
										span #{item}
									.head-sub
										.head-sub-wrap
											a(href="#").head-sub__item жаренные роллы
											a(href="#").head-sub__item острые роллы
											a(href="#").head-sub__item основные роллы
											a(href="#").head-sub__item запеченные роллы
											a(href="#").head-sub__item классические роллы
							else
								.head-nav__el-wrap
									a(href="#").head-nav__el #{item}
				a(href="tel:8 (843) 233 44 33").head-main-call
					+icon("call","icon")
				a(href="#").cart.cart--full
					.cart-icon
						+icon("cart","icon")
						.cart-icon__val 2
					.cart-info
						.cart-condition корзина пуста
						.cart-size 0 товаров
					.cart-bonus +150 б.б.

	//мобильное меню
	.slide-menu
		.slide-menu-wrap
			//Подменю главное
			.slide-menu__list.slide-menu__list--active.slide-menu__list--up(data-menu="main")
				.slide-el.slide-el--sub(data-menu="menu")
					span Меню
					+icon("arrow-right","icon")
				.slide-el.slide-el--sub(data-menu="town")
					span Ваш город
					+icon("arrow-right","icon")
				a(href="#").slide-el Доставка
				a(href="#").slide-el Акции
				a(href="#").slide-el Отзывы
				a(href="#").slide-el Кафе
				a(href="#").slide-el Вакансии
				a(href="#").slide-el Контакты

				//toggle class .login--false .login--true
				.slide-menu-contact
					.login.login--false
						.login-enter
							+icon("profile","icon")
							span.login-enter-mobile-text Вход в личный кабинет
						a(href="#").login-auth
							.login-auth__icon
								+icon("profile","icon")
								.login-auth__icon-check
									+icon("checked","icon")
							.login-auth__name Константин
							.login-auth__bonus +140 Б
					form(action="").header-search
						.header-search-wrap
							.header-search-icon
								+icon("serch","icon")
								input(type="text" placeholder="Активный поиск" class="input input-search")
					a(href="tel:8 (843) 233 44 33").slide-menu-phone 8 (843) 233 44 33
					.soc-row
						a(href="#").soc-row__el
							+icon("soc-instagram","icon")
						a(href="#").soc-row__el
							+icon("soc-vk","icon")

			//Подменю список блюд
			.slide-menu__list.slide-menu__list--down(data-menu="menu")
				.slide-el.slide-el--sub(data-menu="main")
					span Меню
					+icon("arrow-left","icon")
				.slide-el.slide-el--sub.tag__el--sky(data-menu="roll")
					.tag__el-icon
						+icon("roll","icon")
						.tag__el-text роллы
					+icon("arrow-right","icon")
				-
					var items = [
							{"icon":"sushi","name":"суши","class":"tag__el--red tag__el--hidden"},
							{"icon":"snack","name":"горячие закуски","class":"tag__el--fiolet tag__el--full"},
							{"icon":"pizza","name":"пицца","class":"tag__el--purpur tag__el--full"},
							{"icon":"set","name":"сеты","class":"tag__el--blue tag__el--hidden"},
							{"icon":"roll","name":"роллы","class":"tag__el--sky tag__el--hidden"},
							{"icon":"cake","name":"десерты","class":"tag__el--green"},
							{"icon":"wok","name":"блюда wok","class":"tag__el--grass"},
							{"icon":"supe","name":"супы","class":"tag__el--yellow"},
							{"icon":"salad","name":"салаты","class":"tag__el--orange"},
							{"icon":"drink","name":"напитки","class":"tag__el--rose"},
							{"icon":"sauce","name":"соусы","class":"tag__el--gray"}
					];
				each item in items
					a(href="#" class="slide-el "+item.class)
						.tag__el-icon
							+icon(item.icon,"icon")
							.tag__el-text #{item.name}

			//Подменю список роллы
			.slide-menu__list.slide-menu__list--down(data-menu="roll")
				.slide-el.slide-el--sub(data-menu="menu")
					span Виды роллов
					+icon("arrow-left","icon")
				a(href="#").slide-el жаренные роллы
				a(href="#").slide-el основные роллы
				a(href="#").slide-el острые роллы
				a(href="#").slide-el классические роллы

			//Подменю города
			.slide-menu__list.slide-menu__list--down(data-menu="town")
				.slide-el.slide-el--sub(data-menu="main")
					span Выберите свой город
					+icon("arrow-left","icon")
				.slide-el Москва
				.slide-el.slide-el--active Санкт-Петербург
				.slide-el Казань
				.slide-el Чебоксары
	//block header end